@page "/auth/ResetPasswordConfirm"

@using BlazorClient.PagesModels

<EditForm Model="ResetPasswordConfirmModel" OnValidSubmit="ResetPasswordConfirmAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="resetPasswordToken">Reset password token</label>
        <InputText type="password" Id="resetPasswordToken" class="form-control" @bind-Value="ResetPasswordConfirmModel.ResetPasswordToken" />
        <ValidationMessage For="@(() => ResetPasswordConfirmModel.ResetPasswordToken)" />
    </div>
    <div class="form-group">
        <label for="newPassword">New password</label>
        <InputText type="password" Id="newPassword" class="form-control" @bind-Value="ResetPasswordConfirmModel.NewPassword" />
        <ValidationMessage For="@(() => ResetPasswordConfirmModel.NewPassword)" />
    </div>
    <div class="form-group">
        <label for="newPasswordConfirmation">Confirm new password</label>
        <InputText type="password" Id="newPasswordConfirmation" class="form-control" @bind-Value="ResetPasswordConfirmModel.NewPasswordConfirmation" />
        <ValidationMessage For="@(() => ResetPasswordConfirmModel.NewPasswordConfirmation)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit password resetting</button>
    </div>
</EditForm>