<div class="index-movies">
    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
    <div *ngFor="let item of movies" class="item">
        <a href="{{item.href}}" title="Фильм {{item.name}}"><img class="post-image"
            src="{{item.imageSource}}"
            alt="{{item.name}}"></a>
        <div class="{{item.scoreStyle}}"><span data-title="Рейтинг фильма" class="tooltip">{{item.score}}</span></div>
        <span class="item-name"><a href="{{item.href}}">{{item.name}}</a></span>
        <span class="item-meta" *ngFor="let genre of item.genres">
          <a href="{{genre.href}}">{{genre.name}}</a>
        </span>
        <span class="item-meta"><a rel="nofollow"
            href="{{item.reviews.source}}">Рецензии ({{item.reviews.count}})</a> <a rel="nofollow"
            href="{{item.comments.source}}">Отзывы ({{item.comments.count}})</a></span>
        <span class="item-meta">{{item.releaseDate.toDateString()}}</span>
        <span class="item-description">{{item.description}}</span>
    </div>
    <app-movies-drop-down-main-page></app-movies-drop-down-main-page>
    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
  </div>