<div class="index-movies">
    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
    <div class="item">
      <a href="https://metarankings.ru/vechnaya-zima-2024/" title="Фильм Вечная зима"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/vechnaya-zima-cover-art-50x70.jpg"
          alt="Вечная зима"></a>
      <div class="small-score mark-6"><span data-title="Рейтинг фильма" class="tooltip">6.4</span></div>
      <span class="item-name"><a href="https://metarankings.ru/vechnaya-zima-2024/">Вечная зима</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/vechnaya-zima-2024/#reviews">Рецензии (4)</a> <a rel="nofollow"
          href="https://metarankings.ru/vechnaya-zima-2024/#comments">Отзывы (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Фильм «Вечная зима» рассказывает о Владимире и Елене, которые по-разному
        реагируют на трагические события, связанные с их сыном. Елена стремится разобраться в прошлом...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/proklyatyj-ostrov-2024/" title="Фильм Проклятый остров"><img
          class="post-image"
          src="https://metarankings.ru/images/uploads/2024/06/proklyatyj-ostrov-2024-cover-art-50x70.jpg"
          alt="Проклятый остров"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/proklyatyj-ostrov-2024/">Проклятый
          остров</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/proklyatyj-ostrov-2024/#reviews">Рецензии (0)</a> <a rel="nofollow"
          href="https://metarankings.ru/proklyatyj-ostrov-2024/#comments">Отзывы (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">В фильме «Проклятый остров» отпуск молодых друзей превращается в настоящий
        непрекращающийся ужас, когда они случайно будят зловещее существо на необитаемом острове, которому
        необходима...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/vozvrashhenie-popugaya-keshi-2024/"
        title="Фильм Возвращение попугая Кеши"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/vozvrashhenie-popugaya-keshi-cover-art-50x70.jpg"
          alt="Возвращение попугая Кеши"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/vozvrashhenie-popugaya-keshi-2024/">Возвращение
          попугая Кеши</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a> / <a
          href="https://metarankings.ru/meta/movies/semejnye/">Семейные</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/vozvrashhenie-popugaya-keshi-2024/#reviews">Рецензии (0)</a> <a
          rel="nofollow" href="https://metarankings.ru/vozvrashhenie-popugaya-keshi-2024/#comments">Отзывы
          (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">В жизни Митяя, простого учителя географии из Сочи, появляется необычный
        подарок: не просто говорящий попугай, а настоящий гений из древнего рода. Иннокентий, которого...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/les-chudes-2024/" title="Фильм Лес чудес"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/les-chudes-2024-cover-art-50x70.jpg"
          alt="Лес чудес"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/les-chudes-2024/">Лес чудес</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
      <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/les-chudes-2024/#reviews">Рецензии
          (0)</a> <a rel="nofollow" href="https://metarankings.ru/les-chudes-2024/#comments">Отзывы (1)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Десятилетний Анжело мечтает стать исследователем и зоологом, и его мечта
        вот-вот сбудется. Во время поездки к бабушке, его родители, как всегда, немного рассеянны...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/rasxititeli-grobnic-manuskript-drakona-2024/"
        title="Фильм Расхитители гробниц. Манускрипт дракона"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/rasxititeli-grobnic-manuskript-drakona-cover-art-50x70.jpg"
          alt="Расхитители гробниц. Манускрипт дракона"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a
          href="https://metarankings.ru/rasxititeli-grobnic-manuskript-drakona-2024/">Расхитители гробниц.
          Манускрипт дракона</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/fantasy-movies/">Фэнтези</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/rasxititeli-grobnic-manuskript-drakona-2024/#reviews">Рецензии (0)</a> <a
          rel="nofollow"
          href="https://metarankings.ru/rasxititeli-grobnic-manuskript-drakona-2024/#comments">Отзывы
          (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Ху Байи, Ширли Ян и Ван Панг Зи, трио смелых искателей сокровищ, отправляются
        в опасное путешествие к таинственной гробнице в Шэньси. Детектив Ху...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/diplodochek-i-volshebnye-miry-2024/"
        title="Фильм Диплодочек и волшебные миры"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/diplodochek-i-volshebnye-miry-cover-art-50x70.jpg"
          alt="Диплодочек и волшебные миры"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/diplodochek-i-volshebnye-miry-2024/">Диплодочек и
          волшебные миры</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/diplodochek-i-volshebnye-miry-2024/#reviews">Рецензии (0)</a> <a
          rel="nofollow" href="https://metarankings.ru/diplodochek-i-volshebnye-miry-2024/#comments">Отзывы
          (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Юный диплодочек, обладающий знатным происхождением, отправляется в
        увлекательное путешествие, чтобы разыскать своих пропавших родителей. Их таинственное исчезновение
        заставляет его покинуть родные места и...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/kadavr-2024/" title="Фильм Кадавр"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/kadavr-2024-cover-art-50x70.jpg" alt="Кадавр"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/kadavr-2024/">Кадавр</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
      <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/kadavr-2024/#reviews">Рецензии
          (0)</a> <a rel="nofollow" href="https://metarankings.ru/kadavr-2024/#comments">Отзывы (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Джемаль, водитель катафалка, привык к тишине и одиночеству своей работы. Но
        однажды ему поручают необычный заказ: перевезти тело молодой девушки и спрятать его...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/zaklyatie-reinkarnaciya-otca-2024/"
        title="Фильм Заклятие: Реинкарнация отца"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/zaklyatie-reinkarnaciya-otca-cover-art-50x70.jpg"
          alt="Заклятие: Реинкарнация отца"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/zaklyatie-reinkarnaciya-otca-2024/">Заклятие:
          Реинкарнация отца</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/zaklyatie-reinkarnaciya-otca-2024/#reviews">Рецензии (0)</a> <a
          rel="nofollow" href="https://metarankings.ru/zaklyatie-reinkarnaciya-otca-2024/#comments">Отзывы
          (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Айзек, оставшийся без отца после его внезапной смерти, живет с мачехой. Но их
        спокойная жизнь рушится, когда появляется жуткое существо, поразительно похожее на...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/dvojnaya-igra-2024/" title="Фильм Двойная игра"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/dvojnaya-igra-2024-cover-art-50x70.jpg"
          alt="Двойная игра"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/dvojnaya-igra-2024/">Двойная игра</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a> / <a
          href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a></span>
      <span class="item-meta"><a rel="nofollow"
          href="https://metarankings.ru/dvojnaya-igra-2024/#reviews">Рецензии (0)</a> <a rel="nofollow"
          href="https://metarankings.ru/dvojnaya-igra-2024/#comments">Отзывы (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Хо Сау, агент под прикрытием, уже давно внедрился в преступную организацию
        наркобарона Яу, но его двойная жизнь становится все опаснее, угрожая его работе...</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/yurka-2024/" title="Фильм Юрка"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/10/yurka-2024-cover-art-50x70.jpg" alt="Юрка"></a>
      <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
      <span class="item-name"><a href="https://metarankings.ru/yurka-2024/">Юрка</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/melodramas/">Мелодрамы</a></span>
      <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/yurka-2024/#reviews">Рецензии
          (0)</a> <a rel="nofollow" href="https://metarankings.ru/yurka-2024/#comments">Отзывы (0)</a></span>
      <span class="item-meta">31 октября 2024</span>
      <span class="item-description">Станислав, авторитетный криминальный лидер, встречает Юрку, сироту из
        детского дома. В этом мальчишке он видит семью, которой ему всегда не хватало, и решает...</span>
    </div>
    <div class="title-index">
      <div class="dropdown-menu genre">
        <span class="title">Год</span>
        <ul>
          <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
          <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
          <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
          <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
          <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
          <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
          <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
          <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
        </ul>
      </div>
    </div>
    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
  </div>