<div class="ads-horizont hor-1">
    <!-- Yandex.RTB R-A-XXXXXX-X -->
    <div id="yandex_rtb_@AdId-1" data-2acb0025d4="">
        <div></div>
        <div data-r-a-@(AdId.Replace("-", "" ))-yandex_rtb_r-a- @AdId-1 ="" class="csr-uniq3"></div>
    </div>
</div>