<p>
    <span class="label">Платформы:</span><span itemprop="gamePlatform">
        @for (int i = 0; i < Platforms.Count() - 1; i++)
        {
            <a href="/platforms/@Platforms.ElementAt(i).Id">@Platforms.ElementAt(i).Name</a>
            <text>, </text>
        }
        <a href="/platforms/@Platforms.ElementAt(Platforms.Count()-1).Id">@Platforms.ElementAt(Platforms.Count() - 1).Name</a>
    </span>
</p>