@using Domain.Games.Collections

<div class="podborki">
    @foreach (GamesCollection gameCollection in GameCollections)
    {
        <p>
            <a class="mark-link" href="/games/collections/@gameCollection.Id">@gameCollection.Name</a>
        </p>
    }
</div>