<p>
    <span class="label">Разработчик:</span>
    @for (int i = 0; i < Developers.Count() - 1; i++)
    {
        <a href="/developers/@Developers.ElementAt(i).Id">@Developers.ElementAt(i).Name</a>
        <text>, </text>
    }
    <a href="/developers/@Developers.ElementAt(Developers.Count()-1).Id">@Developers.ElementAt(Developers.Count() - 1).Name</a>
</p>