<p>
    <span class="label">Платформы:</span> <span itemprop="gamePlatform">
        @foreach (var platform in Platforms)
        {
            <a href="@platform.Href">@platform.Name</a>
        }
    </span>
</p>