<div>
    <div>
        <a>BlazorClient</a>
        <button title="Navigation menu">
            <span></span>
        </button>
    </div>
</div>

<div>
    <nav>
        <div>
            <NavLink>
                <span></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink>
                <span></span> Counter
            </NavLink>
        </div>
        <div>
            <NavLink>
                <span></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
