@page "/publishers/{PublisherId:int}"

@using Domain

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu />

@if (Publisher is null)
{
    <p>Loading...</p>
}
else
{
    <div class="content-title">
        <h1>@Publisher.Name</h1>
    </div>

    <div id="filter">
        <div class="filter-nav">
            <div class="filter-name">Студии</div>
            <div class="filter-menu">
                <a href="/razrabotchiki/fromsoftware/">FromSoftware</a>
                <a href="/razrabotchiki/naughty_dog/">Naughty Dog</a>
                <a href="/razrabotchiki/ubisoft/">Ubisoft</a>
                <a href="/razrabotchiki/santa_monica/">Santa Monica</a>
                <a href="/razrabotchiki/infinity_ward/">Infinity Ward</a>
                <a href="/razrabotchiki/nintendo/">Nintendo</a>
                <a href="/razrabotchiki/sega/">SEGA</a>
                <a href="/razrabotchiki/cd_projekt_red/">CD Projekt RED</a>
                <a href="/razrabotchiki/capcom/">Capcom</a>
                <a href="/razrabotchiki/insomniac_games/">Insomniac Games</a>
                <a href="/razrabotchiki/sucker_punch/">Sucker Punch</a>
            </div>
        </div>
        <div class="filter-nav">
            <div class="filter-name">Год</div>
            <div class="filter-menu">
                <a href="/games/best-games/2025/">2025</a>
                <a href="/games/best-games/2024/">2024</a>
                <a href="/games/best-games/2023/">2023</a>
                <a href="/games/best-games/2022/">2022</a>
                <a href="/games/best-games/2021/">2021</a>
                <a href="/games/best-games/2020/">2020</a>
                <a href="/games/best-games/2019/">2019</a>
                <a href="/games/best-games/2018/">2018</a>
            </div>
        </div>
        <div class="filter-nav">
            <div class="filter-name">Лучшие</div>
            <div class="filter-menu">
                <a title="Лучшие игры для PC" href="/best-pc-games/">PC</a>
                <a title="Лучшие игры для PlayStation 5" href="/best-ps5-games/">PlayStation 5</a>
                <a title="Лучшие игры для Xbox Series X" href="/best-xbox-series-x-s-games/">Xbox Series X</a>
                <a title="Лучшие игры для PS4" href="/best-ps4-games/">PlayStation 4</a>
                <a title="Лучшие игры для Xbox One" href="/best-xboxone-games/">Xbox One</a>
                <a title="Лучшие игры для Nintendo Switch" href="/best-switch-games/">Nintendo Switch</a>
                <a title="Лучшие игры для PS3" href="/best-ps3-games/">PlayStation 3</a>
                <a title="Лучшие игры для Xbox 360" href="/best-xbox360-games/">Xbox 360</a>
                <a title="Лучшие игры для Nintendo Wii U" href="/best-wiiu-games/">Wii U</a>
                <a title="Лучшие игры для PS Vita" href="/best-psvita-games/">PS Vita</a>
                <a title="Лучшие игры для Nintendo 3DS" href="/best-3ds-games/">3DS</a>
            </div>
        </div>
        <h2>Новые игры</h2>
    </div>

    <div id="loop" class="list clear">
        @foreach (var game in Publisher.Games)
        {
            <BlazorClient.Components.PagesComponents.PublisherDetails.PublisherGameComponent Game="@game" />
        }
    </div>
}
