@page "/admin/movies/movies-directors/add-movie-director"

<form method="post" @onsubmit="@AddMovieDirectorAsync">
    <input type="text" @bind-value="@Name" />
    <button type="submit">Add</button>
</form>