@page "/admin/movies/movies-directors/add-movie-director"

<form method="post" @onsubmit="@AddMovieDirectorAsync">
    <a href="/admin/movies/movies-directors/movies-directors-list" class="list-group-item link-dark">Режиссеры</a>
    <input type="text" @bind-value="@Name" />
    <button type="submit">Add</button>
</form>