.vs
API/bin
API/obj
BlazorClient/bin
BlazorClient/obj
BlazorClient/Properties
Data/bin
Data/obj
Domain/bin
Domain/obj
ExcelProcessors/bin
ExcelProcessors/obj
FilesManagement/bin
IdentityLibrary/bin
obj
WebClientServices/bin
*.sln
*.user
Shared/bin
API/Games/Images
