.vs
API/bin
API/obj
BlazorClient/bin
*.user
BlazorClient/obj
Data/bin
Data/obj
Domain/bin
Domain/obj
*.sln
BlazorClient/Publish
API/Images/Uploads
API/Images
IdentityLibrary/bin
IdentityLibrary/obj
API/appsettings.Development.json
API/appsettings.json
API/appsettings.Production.json
ExcelProcessors/bin
ExcelProcessors/obj
FilesManagement/obj
FilesManagement/bin
