.vs
WebClientServices/obj
WebClientServices/bin
Shared/obj
Shared/bin
obj
IdentityLibrary/bin
FilesManagement/bin
ExcelProcessors/bin
Domain/bin
Data/bin
BlazorClient/Properties/PublishProfiles
*.user
BlazorClient/bin
bin
*.sln
API/Movies/Images
API/Games/Images
certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory
