* {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif
}

.my-nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: grey
}

img:hover {
    transform: scale(1.1);
    filter: brightness(150%);
    border-radius: 10px;
}

div.score-green {
    color: green;
    background-color: lightgreen;
}

div.score-yellow {
    color: yellowgreen;
    background-color: lightyellow;
}

div.score-orange {
    color: darkorange;
    background-color: darkorange;
}

div.score-red {
    color: darkred;
    background-color: orangered;
}

div.score-grey {
    color: darkgrey;
    background-color: lightgrey;
}

.title {
    font-size: 2em
}

div.news-item:hover {
    transform: scale(1.1);
    filter: brightness(150%);
}
