@page "/add-game"
@using Domain.ViewModels
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<EditForm Model="@addGameViewModel" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <label class="col-sm-4" for="Name">Name</label>
        <InputText multiline class="col-sm-8" id="Name" @bind-Value="addGameViewModel.Name" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="Description">Description</label>
        <InputText multiline class="col-sm-8" id="Description" @bind-Value="addGameViewModel.Description" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="ImageSource">Image</label>
        <InputFile class="col-sm-8" id="ImageSource" OnChange="HandleFileSelected" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="Score">Score</label>
        <InputNumber class="col-sm-8" id="Score" @bind-Value="addGameViewModel.Score" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="LocalizationId">Localization ID</label>
        <InputNumber class="col-sm-8" id="LocalizationId" @bind-Value="addGameViewModel.LocalizationId" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="ReleaseDate">Release Date</label>
        <InputDate class="col-sm-8" id="ReleaseDate" @bind-Value="addGameViewModel.ReleaseDate" />
    </div>

    <div class="row">
        <select multiple>
            <option>Экшен</option>
            <option>Шутер</option>
            <option>Хоррор</option>
            <option>РПГ</option>
            <option>Приключение</option>
            <option>Гонка</option>
            <option>Стратегия</option>
            <option>Аркада</option>
            <option>ММО</option>
            <option>Спорт</option>
            <option>Файтинг</option>
        </select>
    </div>

    <button type="submit">Add Game</button>
</EditForm>

@code {
    private AddGameViewModel addGameViewModel = new AddGameViewModel();
    private IBrowserFile selectedImage;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;

        // Optionally, you can preview the selected image
        var stream = selectedImage.OpenReadStream();
        // Example of reading the file and setting the source (you can use this for displaying a preview)
        addGameViewModel.ImageSource = selectedImage.Name; // Just the file name, you might want to do more here
    }

    private async Task HandleSubmit()
    {
        // If you want to upload the file before submitting the form
        if (selectedImage != null)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(selectedImage.OpenReadStream());
            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(selectedImage.ContentType);
            content.Add(fileContent, "file", selectedImage.Name);

            var response = await HttpClient.PostAsync("api/GamesImages", content);
            if (response.IsSuccessStatusCode)
            {
                // Process the response, perhaps save the file URL into ImageSource
                addGameViewModel.ImageSource = $"{HttpClient.BaseAddress}api/GamesImages/{selectedImage.Name}";
            }
        }

        // Now submit the rest of the form data
        var addGameResponse = await HttpClient.PostAsJsonAsync("api/GamesAdmin", addGameViewModel);
        await JSRuntime.InvokeVoidAsync("alert", "Game created succesfully");
    }
}