<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href="https://metarankings.ru"><span>Meta</span>Rankings</a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});"><a href="https://metarankings.ru/best-movies/">Фильмы</a></span>
                        <div class="movie-drop">
                            <a href="https://metarankings.ru/new-movies/">Новинки</a>
                            <a href="https://metarankings.ru/coming-soon/">Скоро</a>
                            <a href="https://metarankings.ru/most-waiting-films/">Ожидаемые</a>
                            <a href="https://metarankings.ru/meta/movies/">Обзоры</a>
                            <a href="https://metarankings.ru/best-movies/">Топ фильмов</a>
                            <a href="https://metarankings.ru/best-movies-2024/">Фильмы 2024</a>
                            <a href="https://metarankings.ru/best-boeviki/">Боевики</a>
                            <a href="https://metarankings.ru/best-horror/">Ужасы</a>
                            <a href="https://metarankings.ru/best-comedy/">Комедии</a>
                            <a href="https://metarankings.ru/best-thrillers/">Триллеры</a>
                            <a href="https://metarankings.ru/best-fantasy/">Фантастика</a>
                            <a href="https://metarankings.ru/best-fentezi/">Фэнтези</a>
                            <a href="https://metarankings.ru/best-dramy/">Драмы</a>
                            <a href="https://metarankings.ru/best-melodramas/">Мелодрамы</a>
                            <a href="https://metarankings.ru/best-cartoons/">Мультфильмы</a>
                            <a href="https://metarankings.ru/best-serials/">Сериалы</a>
                        </div>
                    </li>
                    <li class="active">
                        <span onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"><a href="https://metarankings.ru/best-games/">Игры</a></span>
                        <div class="game-drop">
                            <a href="https://metarankings.ru/new-games/">Новинки</a>
                            <a href="https://metarankings.ru/release-date/">Дата выхода</a>
                            <a href="https://metarankings.ru/most-waiting-games/">Ожидаемые</a>
                            <a href="https://metarankings.ru/meta/games/">Обзоры</a>
                            <a href="https://metarankings.ru/best-games/">Топ игр</a>
                            <a href="https://metarankings.ru/best-games-2024/">Игры 2024</a>
                            <a href="https://metarankings.ru/best-pc-games/">ПК</a>
                            <a href="https://metarankings.ru/best-ps5-games/">PS5</a>
                            <a href="https://metarankings.ru/best-ps4-games/">PS4</a>
                            <a href="https://metarankings.ru/best-xbox-series-x-s-games/">Xbox Series X</a>
                            <a href="https://metarankings.ru/best-xboxone-games/">Xbox One</a>
                            <a href="https://metarankings.ru/best-switch-games/">Switch</a>
                            <a href="https://metarankings.ru/top-action-games/">Лучшие экшены</a>
                            <a href="https://metarankings.ru/top-shooters/">Лучшие шутеры</a>
                            <a href="https://metarankings.ru/top-horrors/">Лучшие хорроры</a>
                            <a href="https://metarankings.ru/top-igry-priklyucheniya/">Лучшие приключения</a>
                            <a href="https://metarankings.ru/top-rpg-games/">Лучшие РПГ</a>
                            <a href="https://metarankings.ru/best-strategii/">Лучшие стратегии</a>
                            <a href="https://metarankings.ru/best-gonki/">Лучшие гонки</a>
                            <a href="https://metarankings.ru/best-arkady/">Лучшие аркады</a>
                            <a href="https://metarankings.ru/best-fajtingi/">Лучшие файтинги</a>
                            <a href="https://metarankings.ru/best-mmo-games/">Лучшие MMO</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://metarankings.ru/meta/collections/">Подборки</a>
                    </li>
                    <li>
                        <a href="https://metarankings.ru/user-reviews/">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div><div class="search_form">
                <form method="get" id="searchform" action="https://metarankings.ru/search/">
                    <fieldset>
                        <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off">
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>