<nav>
    <div>
        <a href="#">MetaRankings</a>
        <div>
            <a href="#">Игры</a>
            <a href="#">Фильмы</a>
            <a href="#">Подборки</a>
            <a href="#">Обзоры</a>
        </div>
    </div>
</nav>