<div class="pagination">
    <div class="navi">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="api/GamesDetailsPage/pageSize=10&page=2">2</a>
        <a class="page-numbers" href="api/GamesDetailsPage/pageSize=10&page=3">3</a>
        <a class="page-numbers" href="api/GamesDetailsPage/pageSize=10&page=4">4</a>
        <span class="page-numbers dots">…</span>
        <a class="page-numbers" href="api/GamesDetailsPage/pageSize=10&page=10">10</a>
        <a class="next page-numbers" href="api/GamesDetailsPage/pageSize=10&page=3">Показать еще</a>
    </div>
</div>