<div class="title-index">
    <div class="dropdown-menu genre">
      <span class="title">Год</span>
      <ul>
        <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
        <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
        <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
        <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
        <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
        <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
        <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
        <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
      </ul>
    </div>
  </div>