<div class="game-menu">
    <div class="platform-menu">
        <ul>
            <li>
                <a class="link-dark my-nav-link"href="/games/details/alex">Лучшие игры 2024</a>
            </li>
            <li>
                <a class="link-dark my-nav-link"href="/games/details/alex">2023</a>
            </li>
            <li>
                <a class="link-dark my-nav-link"href="/games/new">Новые игры</a>
            </li>
            <li>
                <a class="link-dark my-nav-link"href="/games/details/alex">Дата выхода игр</a>
            </li>
            <li>
                <a class="link-dark my-nav-link"href="/games/details/alex">Самые ожидаемые игры</a>
            </li>
        </ul>
    </div>
</div>

@code {

}
