<div class="game-menu">
    <div class="platform-menu">
        <ul>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Лучшие игры 2024</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">2023</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/new">Новые игры</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Дата выхода игр</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Самые ожидаемые игры</NavLink>
            </li>
        </ul>
    </div>
</div>

@code {

}
