<div class="movie-menu">
    <div class="genre-menu">
        <ul>
            <li>
                <a class="my-nav-link" href="/games/details/alex">Лучшие фильмы 2024</a>
            </li>
            <li>
                <a class="my-nav-link" href="/games/details/alex">2023</a>
            </li>
            <li>
                <a class="my-nav-link" href="/games/details/alex">Новые фильмы</a>
            </li>
            <li>
                <a class="my-nav-link" href="/games/details/alex">Скоро в кино</a>
            </li>
            <li>
                <a class="my-nav-link" href="/games/details/alex">Самые ожидаемые фильмы</a>
            </li>
        </ul>
    </div>
</div>