<div class="movie-menu">
    <div class="genre-menu">
        <ul>
            <li>
                <a class="bst" href="https://metarankings.ru/best-movies-2024/">Лучшие фильмы 2024</a>
            </li>
            <li>
                <a class="bst" href="https://metarankings.ru/best-movies-2023/">2023</a>
            </li>
            <li>
                <a class="mnew" href="https://metarankings.ru/new-movies/">Новые фильмы</a>
            </li>
            <li>
                <a href="https://metarankings.ru/coming-soon/">Скоро в кино</a>
            </li>
            <li>
                <a href="https://metarankings.ru/most-waiting-films/">Самые ожидаемые фильмы</a>
            </li>
        </ul>
    </div>
</div>