<div class="movie-menu">
    <div class="genre-menu">
        <ul>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Лучшие фильмы 2024</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">2023</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Новые фильмы</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Скоро в кино</NavLink>
            </li>
            <li>
                <NavLink class="my-nav-link" href="/games/details/alex">Самые ожидаемые фильмы</NavLink>
            </li>
        </ul>
    </div>
</div>