@using BlazorClient.Components.PagesComponents.Common;

<div class="featured-movie">
    <GenresComponent Genres="@Genres" />
    <MoviesStudiosComponent MoviesStudios="@MoviesStudios" />
    <PremierDateComponent PremierDate="@PremierDate" />
</div>