.index-movies {
    width: 49.9%;
    float: left;
    margin: 15px 0;
}

.index-movies h3 {
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
}

.index-movies h3:after {
    color: #888;
    content: "›";
    margin-left: 5px;
}

.index-movies h3:hover:after {
    color: #333;
    margin-left: 7px;
}

.allreviews:hover {
    border: 1px solid #AAA;
    text-decoration: none !important;
}

@media only screen and (max-width:620px) {
    .index-movies {
        width: 100%;
    }
}
