@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Album>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Layout";
}

<h1><em>@Model.Title</em></h1>
<h3>@Model.ReleaseDate.ToString("dd/MM/yyyy")</h3>
@foreach (Song song in Model.Songs)
{
    <div>
        <h4>@song.Title</h4>
        <h5>@song.Lyrics</h5>
    </div>
}