@using Domain
@inject HttpClient httpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="specials-index">
    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
    
</div>

@code {
    
}