<div class="specials-index">
    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
    <div class="news-item">
        <a href="https://metarankings.ru/samye-slozhnye-igry/" title="Самые сложные игры"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg" alt="Самые сложные игры"></a>
        <span class="news-title"><a href="https://metarankings.ru/samye-slozhnye-igry/">Самые сложные игры</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/best-films-pro-zhenshhin/" title="Лучшие фильмы про женщин"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/films-pro-zhenshhin-445x250.jpg" alt="Лучшие фильмы про женщин"></a>
        <span class="news-title"><a href="https://metarankings.ru/best-films-pro-zhenshhin/">Лучшие фильмы про женщин</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/" title="Фильмы про реальные события"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/pro-realnye-sobytiya-445x250.jpg" alt="Фильмы про реальные события"></a>
        <span class="news-title"><a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/">Фильмы про реальные события</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/" title="Лучшие фильмы про монстров"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/filmy-pro-monstrov-445x250.jpg" alt="Лучшие фильмы про монстров"></a>
        <span class="news-title"><a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/">Лучшие фильмы про монстров</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/samye-strashnye-igry/" title="Самые страшные игры"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/strashnye-igry-445x250.jpg" alt="Самые страшные игры"></a>
        <span class="news-title"><a href="https://metarankings.ru/samye-strashnye-igry/">Самые страшные игры</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/best-games-open-world/" title="Лучшие игры с открытым миром"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/best-igry-s-otkrytym-mirom-445x250.jpg" alt="Лучшие игры с открытым миром"></a>
        <span class="news-title"><a href="https://metarankings.ru/best-games-open-world/">Лучшие игры с открытым миром</a></span>
        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
</div>

@code {

}

<style>
    .specials-index a {
        color: #000;
        text-decoration: none;
    }

        .specials-index a:hover, .news-item .news-title a:hover {
            color: #0068BF;
        }

    .specials-index .news-item {
        width: 49.6%;
        display: inline-block;
    }

    .specials-index {
        margin-top: 20px;
    }

    #search_form-result .index-games, #search_form-result .index-movies, #search_form-result .specials-index .news-item {
        float: none;
        display: block;
        width: 100%;
    }

    #search_form-result .item:hover .item-description, #search_form-result .news-item .rubrika {
        display: none;
    }

    #search_form-result .news-item .news-title {
        height: auto;
    }

    .news-item .rubrika {
        left: 10px;
        top: 10px;
    }

        .news-item .rubrika a, .list .post .rubrika a {
            color: #fff;
        }

    index-movies .news-item {
        margin-right: 2px;
    }

    .index-games .news-item {
        margin-left: 2px;
    }

    .news-item {
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        margin-bottom: 20px;
    }

        .news-item a {
            text-decoration: none;
        }

        .news-item img {
            width: 100%;
            height: auto;
        }

        .news-item .news-title {
            color: #000;
            display: block;
            bottom: 0;
            padding: 5px;
            right: 0;
            left: 0;
            height: 60px;
            overflow: hidden;
            line-height: 1.2;
        }

            .news-item .news-title a {
                color: #000;
                white-space: normal;
                line-height: 1.2;
                text-decoration: none;
            }

    .news-module .news-item {
        width: 49.5%;
        display: inline-block;
    }

        .news-module .news-item:hover {
            opacity: 0.7;
        }

    .specials-index a:hover, .news-item .news-title a:hover {
        color: #0068BF;
    }

    .specials-index .news-item {
        width: 49.6%;
        display: inline-block;
    }

</style>