<div class="copyright">
    &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
    <NavLink rel="nofollow" href="/games/details/alex">О нас</NavLink>
    <NavLink rel="nofollow" href="/games/details/alex">Связь</NavLink>
    <NavLink rel="nofollow" href="/games/details/alex">Пользовательское соглашение</NavLink>
    <NavLink rel="nofollow" href="/games/details/alex">Конфиденциальность</NavLink>
</div>