<div class="copyright">
    &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
    <a rel="nofollow" href="/about/" data-title="О сайте" class="tooltip">О нас</a>
    <a rel="nofollow" href="/contact/" data-title="Форма обратной связи" class="tooltip">Связь</a>
    <a rel="nofollow" href="/polzovatelskoe-soglashenie/" data-title="Пользовательское соглашение" class="tooltip">Пользовательское соглашение</a>
    <a rel="nofollow" href="/politika-konfidencialnosti/" data-title="Политика конфиденциальности" class="tooltip">Конфиденциальность</a>
</div>

<style>
    .copyright a {
        margin: 0 0 0 10px;
    }

    .copyright {
        float: left;
        margin-top: 10px;
    }

        .copyright span {
            color: #737373;
        }

    .copyright {
        float: none;
        color: #fff;
    }

        .copyright span {
            color: #fff;
        }
</style>

@code {

}
