<div class="credits">
    <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
    <a href="https://vk.com/metarankings_ru" rel="nofollow noopener" target="_blank" title="VK"><span class="vko"></span></a>
    <a href="https://twitter.com/metarankings" rel="nofollow noopener" target="_blank" title="Twitter"><span class="tw"></span></a>
</div>

<style>
    .credits {
        float: right;
    }

        .credits .vko, .credits .fb, .credits .tw, .credits .odn {
            background: #777;
            margin: 0 2px 0 0;
            opacity: 1;
        }

        .credits img {
            vertical-align: middle;
            margin-bottom: 4px;
        }

    .credits {
        display: block;
        float: left;
        margin: 20px 0;
    }

        .credits a {
            display: inline-block;
        }
</style>