<link href="~/css/app.css" rel="stylesheet" />

<div class="credits">
    <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
    <NavLink class="my-nav-link" href="/games/details/alex">Link</NavLink>
    <NavLink class="my-nav-link" href="/games/details/alex">Link</NavLink>
</div>
