<div class="credits">
    <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
    <a class="my-nav-link" href="/games/details/alex">Link</a>
    <a class="my-nav-link" href="/games/details/alex">Link</a>
</div>
