@inject HttpClient httpClient
@using Domain
@using System.Globalization

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-games">
    <h3><a href="https://metarankings.ru/release-date/">Дата выхода игр</a></h3>
   
    <a href="https://metarankings.ru/most-waiting-games/" class="allreviews">Самые ожидаемые игры</a>
</div>

@code {
    
}
