<div class="index-games">
    <h3><a href="https://metarankings.ru/meta/news/igri/">Новости игр</a></h3>
    <div class="news-item">
        <a href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/" title="Sony объявила системные требования God of War Ragnarök для PC"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg" alt="Sony объявила системные требования God of War Ragnarök для PC"></a>
        <span class="news-title"><a href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/">Sony объявила системные требования God of War Ragnarök для PC</a></span>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/activision-predstavila-kinematograficheskij-trejler-zombi-rezhima-call-of-duty-black-ops-6/" title="Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/08/kinematograficheskij-trejler-zombi-rezhima-v-call-of-duty-black-ops-6-445x250.jpg" alt="Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6"></a>
        <span class="news-title"><a href="https://metarankings.ru/activision-predstavila-kinematograficheskij-trejler-zombi-rezhima-call-of-duty-black-ops-6/">Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6</a></span>
    </div>
    <div class="news-item">
        <a href="https://metarankings.ru/nintendo-pokazala-metroid-prime-4-beyond-dlya-switch/" title="Nintendo показала Metroid Prime 4: Beyond для Switch"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/06/metroid-prime-4-beyond-445x250.jpg" alt="Nintendo показала Metroid Prime 4: Beyond для Switch"></a>
        <span class="news-title"><a href="https://metarankings.ru/nintendo-pokazala-metroid-prime-4-beyond-dlya-switch/">Nintendo показала Metroid Prime 4: Beyond для Switch</a></span>
    </div>
</div>