<div class="index-games">
    <h3><a href="https://metarankings.ru/release-date/">Дата выхода игр</a></h3>
    <div class="item">
        <a href="https://metarankings.ru/indiana-jones-and-the-great-circle/" title="Игра Indiana Jones and the Great Circle"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/02/indiana-jones-and-the-great-circle-cover-art-50x70.jpg" alt="Indiana Jones and the Great Circle"></a>
        <span class="item-name"><a href="https://metarankings.ru/indiana-jones-and-the-great-circle/">Indiana Jones and the Great Circle</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/priklyuchenie/">Приключение</a> / <a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
        <span class="item-meta">9 декабря 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/alien-rogue-incursion/" title="Игра Alien: Rogue Incursion"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" alt="Alien: Rogue Incursion"></a>
        <span class="item-name"><a href="https://metarankings.ru/alien-rogue-incursion/">Alien: Rogue Incursion</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/xorror/">Хоррор</a></span>
        <span class="item-meta">19 декабря 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/sid-meiers-civilization-7/" title="Игра Sid Meier&#8217;s Civilization 7"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/02/sid-meiers-civilization-7-boxart-cover-50x70.jpg" alt="Sid Meier&#8217;s Civilization 7"></a>
        <span class="item-name"><a href="https://metarankings.ru/sid-meiers-civilization-7/">Sid Meier&#8217;s Civilization 7</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/strategiya/">Стратегия</a></span>
        <span class="item-meta">6 февраля 2025</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/kingdom-come-deliverance-2/" title="Игра Kingdom Come: Deliverance 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/06/kingdom-come-deliverance-2-boxart-cover-50x70.jpg" alt="Kingdom Come: Deliverance 2"></a>
        <span class="item-name"><a href="https://metarankings.ru/kingdom-come-deliverance-2/">Kingdom Come: Deliverance 2</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/rpg/">РПГ</a></span>
        <span class="item-meta">11 февраля 2025</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/assassins-creed-shadows/" title="Игра Assassin’s Creed Shadows"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/assassins-creed-shadows-boxart-cover-50x70.jpg" alt="Assassin’s Creed Shadows"></a>
        <span class="item-name"><a href="https://metarankings.ru/assassins-creed-shadows/">Assassin’s Creed Shadows</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
        <span class="item-meta">14 феврая 2025</span>
    </div>
    <a href="https://metarankings.ru/most-waiting-games/" class="allreviews">Самые ожидаемые игры</a>
</div>

@code {

}
