@inject HttpClient httpClient
@using Domain
@using System.Globalization

<div class="index-games">
    <h3><a class="my-nav-link" href="/games/details/alex">Дата выхода игр</a></h3>
   
    <a class="my-nav-link" href="/games/details/alex">Самые ожидаемые игры</a>
</div>

@code {
    
}
