<div class="index-games">
    <h3><a href="https://metarankings.ru/release-date/">Дата выхода игр</a></h3>
    <div class="item">
        <a href="https://metarankings.ru/indiana-jones-and-the-great-circle/" title="Игра Indiana Jones and the Great Circle"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/02/indiana-jones-and-the-great-circle-cover-art-50x70.jpg" alt="Indiana Jones and the Great Circle"></a>
        <span class="item-name"><a href="https://metarankings.ru/indiana-jones-and-the-great-circle/">Indiana Jones and the Great Circle</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/priklyuchenie/">Приключение</a> / <a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
        <span class="item-meta">9 декабря 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/alien-rogue-incursion/" title="Игра Alien: Rogue Incursion"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" alt="Alien: Rogue Incursion"></a>
        <span class="item-name"><a href="https://metarankings.ru/alien-rogue-incursion/">Alien: Rogue Incursion</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/xorror/">Хоррор</a></span>
        <span class="item-meta">19 декабря 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/sid-meiers-civilization-7/" title="Игра Sid Meier&#8217;s Civilization 7"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/02/sid-meiers-civilization-7-boxart-cover-50x70.jpg" alt="Sid Meier&#8217;s Civilization 7"></a>
        <span class="item-name"><a href="https://metarankings.ru/sid-meiers-civilization-7/">Sid Meier&#8217;s Civilization 7</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/strategiya/">Стратегия</a></span>
        <span class="item-meta">6 февраля 2025</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/kingdom-come-deliverance-2/" title="Игра Kingdom Come: Deliverance 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/06/kingdom-come-deliverance-2-boxart-cover-50x70.jpg" alt="Kingdom Come: Deliverance 2"></a>
        <span class="item-name"><a href="https://metarankings.ru/kingdom-come-deliverance-2/">Kingdom Come: Deliverance 2</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/rpg/">РПГ</a></span>
        <span class="item-meta">11 февраля 2025</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/assassins-creed-shadows/" title="Игра Assassin’s Creed Shadows"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/assassins-creed-shadows-boxart-cover-50x70.jpg" alt="Assassin’s Creed Shadows"></a>
        <span class="item-name"><a href="https://metarankings.ru/assassins-creed-shadows/">Assassin’s Creed Shadows</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
        <span class="item-meta">14 феврая 2025</span>
    </div>
    <a href="https://metarankings.ru/most-waiting-games/" class="allreviews">Самые ожидаемые игры</a>
</div>

<style>
    .index-games {
        width: 49.9%;
        float: right;
        margin: 15px 0;
    }

    #search_form-result .index-games .item, #search_form-result .index-movies .item {
        padding: 10px 0;
        border-right: none;
    }

    #search_form-result .item-name {
        font-weight: 500;
    }

    #search_form-result .item:hover .item-description, #search_form-result .news-item .rubrika {
        display: none;
    }

    #search_form-result .index-games .item img, #search_form-result .index-movies .item img, #search_form-result .index-games .item .item-meta, #search_form-result .index-movies .item .item-meta {
        display: none;
    }

    #search_form-result .index-games .item, #search_form-result .index-movies .item {
        padding: 10px 0;
        border-right: none;
    }

    #search_form-result .item-name {
        font-weight: 500;
    }

    #search_form-result .item:hover .item-description, #search_form-result .news-item .rubrika {
        display: none;
    }

    #search_form-result .index-games .item img, #search_form-result .index-movies .item img, #search_form-result .index-games .item .item-meta, #search_form-result .index-movies .item .item-meta {
        display: none;
    }

    #search_form-result .index-games .item, #search_form-result .index-movies .item {
        padding: 10px 0;
        border-right: none;
    }

    #search_form-result .item-name {
        font-weight: 500;
    }

    #search_form-result .item:hover .item-description, #search_form-result .news-item .rubrika {
        display: none;
    }

    #search_form-result .index-games .item img, #search_form-result .index-movies .item img, #search_form-result .index-games .item .item-meta, #search_form-result .index-movies .item .item-meta {
        display: none;
    }

    .item.mark-10, .item.mark-9, .item.mark-8 {
        background: #defbd1;
    }

    .item.mark-7, .item.mark-6, .item.mark-5 {
        background: #f8fdc9;
    }

    .item.mark-4, .item.mark-3, .item.mark-2, .item.mark-1 {
        background: #f3e4e1;
    }

    .item.mark-0 {
        background: #ebebeb;
    }

    .item:hover .item-description, .tooltip:hover:after {
        display: none;
    }

    .item-name {
        font-size: 16px;
    }

</style>
@code {

}
