@inject HttpClient httpClient
@using Domain

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-games">
    <h3><NavLink class="my-nav-link" href="https://metarankings.ru/meta/news/igri/">Новости игр</NavLink></h3>
    
</div>

@code {
    
}