@inject HttpClient httpClient
@using Domain
@using System.Globalization

<div class="index-games">
    <h3><NavLink class="my-nav-link" href="/games/details/alex">Дата выхода игр</NavLink></h3>
   
    <NavLink class="my-nav-link" href="/games/details/alex">Самые ожидаемые игры</NavLink>
</div>

@code {
    
}
