@using Domain
@using System.Globalization
@inject HttpClient httpClient

<div class="index-games">
    <h3><NavLink class="my-nav-link" href="/games/new">Новые игры</NavLink></h3>
    

    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2024</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2023</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2022</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2021</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2020</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2019</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2018</NavLink></li>
                <li><NavLink class="my-nav-link" href="/games/details/alex">Игры 2017</NavLink></li>
            </ul>
        </div>
    </div>
    <NavLink class="allreviews" href="/games/details/alex">Обзоры на игры</NavLink>
</div>

@code {
    
}
