<div class="index-movies">
    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
    <div class="item">
        <a href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/" title="Фильм Злая: Сказка о ведьме Запада"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zlaya-skazka-o-vedme-zapada-boxart-cover-50x70.jpg" alt="Злая: Сказка о ведьме Запада"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/">Злая: Сказка о ведьме Запада</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/melodramas/">Мелодрамы</a> / <a href="https://metarankings.ru/meta/movies/fantasy-movies/">Фэнтези</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">22 ноября 2024</span>
        <span class="item-description">«Злая: Сказка о ведьме Запада» – это захватывающее переосмысление классической истории &#171;Волшебник страны Оз&#187;, рассказывающее о непростой дружбе Эльфабы, недооцененной из-за своей зеленой...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/konklav-2024/" title="Фильм Конклав"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/konklav-2024-cover-art-50x70.jpg" alt="Конклав"></a>
        <div class="small-score mark-6"><span data-title="Рейтинг фильма" class="tooltip">6.3</span></div>
        <span class="item-name"><a href="https://metarankings.ru/konklav-2024/">Конклав</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/konklav-2024/#reviews">Рецензии (12)</a> <a rel="nofollow" href="https://metarankings.ru/konklav-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Когда кардиналу Лоуренсу поручают руководить одним из самых тайных и древних событий в мире — избранием нового Папы Римского, он оказывается в центре...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/neprobivaemye-2024/" title="Фильм Непробиваемые"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/neprobivaemye-2024-cover-art-50x70.jpg" alt="Непробиваемые"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/neprobivaemye-2024/">Непробиваемые</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/neprobivaemye-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/neprobivaemye-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Охранник броневика Джеймс и его сын Кейси перевозят миллионы долларов между банками, когда сталкиваются с безжалостным Руком и его бандой грабителей, которые устраивают...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/supersanta-2024/" title="Фильм Суперсанта"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/supersanta-2024-cover-art-50x70.jpg" alt="Суперсанта"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/supersanta-2024/">Суперсанта</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/supersanta-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/supersanta-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">После случайной травмы головы Санта-Клаус начинает верить, что он — СуперКлаус. Теперь, вместе со своим помощником-эльфом Билли и Лео, ему предстоит противостоять одержимому...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/velikaya-2024/" title="Фильм Великая"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/velikaya-2024-cover-art-50x70.jpg" alt="Великая"></a>
        <div class="small-score mark-6"><span data-title="Рейтинг фильма" class="tooltip">5.6</span></div>
        <span class="item-name"><a href="https://metarankings.ru/velikaya-2024/">Великая</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/voennye-filmy/">Военные</a> / <a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/istoricheskie/">Исторические</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/velikaya-2024/#reviews">Рецензии (3)</a> <a rel="nofollow" href="https://metarankings.ru/velikaya-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Ли Миллер — легендарная фотомодель и икона стиля, чье лицо блистало на обложках Vogue. Будучи супругой египетского миллионера, она вдохновляла таких гениев, как...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/zyat-2024/" title="Фильм Зять"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zyat-2024-cover-art-50x70.jpg" alt="Зять"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/zyat-2024/">Зять</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zyat-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zyat-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Судьба преподносит сюрприз примерному семьянину Олегу, чья жизнь следует четко составленному плану. Его обожаемая дочь Алена влюбляется в Антона, лучшего друга Олега. В...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/zagovorennaya-2024/" title="Фильм Заговоренная"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zagovorennaya-2024-cover-art-50x70.jpg" alt="Заговоренная"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/zagovorennaya-2024/">Заговоренная</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a> / <a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zagovorennaya-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zagovorennaya-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Жизнь начинающей писательницы переворачивается с ног на голову, когда она оказывается в центре событий, о которых пишет. На нее совершает нападение печально известный...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/replika-2024/" title="Фильм Реплика"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/replika-2024-cover-art-50x70.jpg" alt="Реплика"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/replika-2024/">Реплика</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/replika-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/replika-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Революционная технология «Реплика», позволяющая переносить сознание в цифровую среду, приближает братьев Антона и Давида к грандиозному успеху. Но одержимость Антона проектом оборачивается катастрофой:...</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/taro-2024/" title="Фильм Таро"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/taro-2024-cover-art-50x70.jpg" alt="Таро"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/taro-2024/">Таро</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/taro-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/taro-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Не имеющие ничего общего судьбы продавщицы супермаркета, успешного бизнесмена и курьера неожиданно переплетаются, когда каждый из них получает таинственную карту Таро.</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/unichtozhanna-2024/" title="Фильм УничтоЖанна"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/unichtozhanna-2024-cover-art-50x70.jpg" alt="УничтоЖанна"></a>
        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
        <span class="item-name"><a href="https://metarankings.ru/unichtozhanna-2024/">УничтоЖанна</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/unichtozhanna-2024/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/unichtozhanna-2024/#comments">Отзывы (0)</a></span>
        <span class="item-meta">21 ноября 2024</span>
        <span class="item-description">Спокойная жизнь домохозяйки Жанны, таящей в себе необычные способности, рушится, когда её неожиданно привлекают к работе в спецслужбах. Её первое задание — арест...</span>
    </div>
    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
                <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
                <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
                <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
                <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
                <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
                <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
                <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
            </ul>
        </div>
    </div>
    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
</div>

@code {

}
