@using Domain
@using System.Globalization
@inject HttpClient httpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-games">
    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
    

    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><a href="/best-games-2024/">Игры 2024</a></li>
                <li><a href="/best-games-2023/">Игры 2023</a></li>
                <li><a href="/best-games-2022/">Игры 2022</a></li>
                <li><a href="/best-games-2021/">Игры 2021</a></li>
                <li><a href="/best-games-2020/">Игры 2020</a></li>
                <li><a href="/best-games-2019/">Игры 2019</a></li>
                <li><a href="/best-games-2018/">Игры 2018</a></li>
                <li><a href="/best-games-2017/">Игры 2017</a></li>
            </ul>
        </div>
    </div>
    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
</div>

@code {
    
}
