@using Domain
@using System.Globalization
@inject HttpClient httpClient

<div class="index-games">
    <h3><a class="link-dark my-nav-link"href="/games/new">Новые игры</a></h3>
    

    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><a class="link-dark my-nav-link"href="/games/list/2024">Игры 2024</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2023">Игры 2023</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2022">Игры 2022</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2021">Игры 2021</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2020">Игры 2020</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2019">Игры 2019</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2018">Игры 2018</a></li>
                <li><a class="link-dark my-nav-link"href="/games/list/2017">Игры 2017</a></li>
            </ul>
        </div>
    </div>
    <a class="allreviews" href="/games/reviews">Обзоры на игры</a>
</div>

@code {
    
}
