@using Domain
@inject HttpClient httpClient

<div class="sidebar rcol">
    <div class="widget last-reviews">
        <h3>Последние отзывы</h3>
        <div class="widget-body">
            <ul>
                @foreach (var lastMovieReview in LastMoviesReviews)
                {
                    <li class="recent-reviews">
                        <div class="ureview-text">
                            <span class="title-reviews"><a href="@lastMovieReview.LinkHref">@lastMovieReview.LinkTitle</a></span>
                        </div>
                    </li>
                }
            </ul>
            <ul>
                @foreach (var lastGameReview in LastGamesReviews)
                {
                    <li class="recent-reviews">
                        <div class="ureview-text">
                            <span class="title-reviews"><a href="@lastGameReview.LinkHref">@lastGameReview.LinkTitle</a></span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .sidebar .ureview-text {
        font-size: 14px;
        line-height: 1.8;
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        border-radius: 3px;
    }

    .sidebar {
        padding: 5px 0 0 0;
        width: 300px;
        float: right;
    }

    #content, .sidebar {
        float: none;
        margin: 15px 0;
        width: 96%;
        padding: 0 2%;
    }

    .sidebar {
        height: auto !important;
    }

    .widget {
        margin-bottom: 20px;
    }

    .widget-small {
        width: 130px;
    }

        .widget h2, .widget-small h2 {
            color: #111;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
            line-height: 1.4;
        }

        .widget h3, .widget-small h3 {
            color: #111;
            font-size: 16px;
            font-weight: 500;
            padding: 5px 0;
            margin-bottom: 10px;
            line-height: 1.4;
        }

        .widget a, .widget-small a {
            color: #0082ae;
            text-decoration: none;
        }

            .widget a:hover, .widget-small a:hover {
                text-decoration: underline;
            }

    .widget p, .textwidget {
        color: #333;
        font-size: 14px;
    }

        .widget p a, .textwidget a {
            text-decoration: underline;
        }

            .widget p a:hover, .textwidget a:hover {
                text-decoration: none;
            }

    .widget li, .widget-small li {
        font-size: 12px;
        color: #333;
        margin-bottom: 3px;
    }

    .review-text, .reviews-text, .reviews .critic-text p, .last-reviews .recent-reviews {
        overflow: hidden;
    }

    .widget-body td {
        padding-bottom: 10px;
    }


    .widget_getconnected .widget-body div {
        width: 50%;
        float: left;
        min-height: 40px;
        padding-bottom: 16px;
    }

        .widget_getconnected .widget-body div a {
            display: block;
            color: #24211f;
            font-size: 16px;
            padding-left: 25px;
        }

        .widget_getconnected .widget-body div span {
            color: #838383;
            font: 11px Helvetica, Arial, sans-serif;
            padding-left: 25px;
        }


    .sponsors .widget-body {
        text-align: center;
    }

        .sponsors .widget-body img {
            margin-bottom: 20px;
        }

    .recent-reviews .small-score {
        border-radius: 50px;
        display: inline-block;
        font-size: 14px;
        margin: 0 6px -8px 0;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-shadow: none;
        overflow: hidden;
    }

    .review-text, .reviews-text, .reviews .critic-text p, .last-reviews .recent-reviews {
        overflow: hidden;
    }

    .sidebar .ureview-text {
        font-size: 14px;
        line-height: 1.8;
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        border-radius: 3px;
    }

    .ureview-text .title-reviews a {
        font-size: 14px !important;
    }

    .ureview-text p {
        color: #333;
        font-size: 16px;
        margin: 0 0 10px;
        line-height: 1.5;
    }

    .post-content p, .reviews-text p, .reviews .critic-text p, .ureview-text p {
        font-size: 16px;
    }

    .ureview-text .title-reviews a {
        font-size: 16px !important;
    }

    .title-reviews {
        font-weight: 600;
        margin: 6px 0 10px 0;
    }

        .title-reviews a {
            font-size: 18px !important;
            text-decoration: none;
        }

            .title-reviews a span {
                font-size: 16px !important;
                color: #888 !important;
                font-weight: 400;
            }

    .ureview-text .title-reviews a {
        font-size: 14px !important;
    }

    .reviews-text .title-reviews {
        font-size: 18px;
        font-weight: 600;
        margin: 0 10px 0 0;
        display: inline-block;
        padding: 6px 0;
    }

    .widget-body td {
        padding-bottom: 10px;
    }

    .widget_getconnected .widget-body div {
        width: 50%;
        float: left;
        min-height: 40px;
        padding-bottom: 16px;
    }

        .widget_getconnected .widget-body div a {
            display: block;
            color: #24211f;
            font-size: 16px;
            padding-left: 25px;
        }

        .widget_getconnected .widget-body div span {
            color: #838383;
            font: 11px Helvetica, Arial, sans-serif;
            padding-left: 25px;
        }

    .sponsors .widget-body {
        text-align: center;
    }

        .sponsors .widget-body img {
            margin-bottom: 20px;
        }
</style>

@code {
    public IEnumerable<LastReviewsComponentItem> LastMoviesReviews { get; private set; }
    public IEnumerable<LastReviewsComponentItem> LastGamesReviews { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        LastMoviesReviews = await httpClient.GetFromJsonAsync<IEnumerable<LastReviewsComponentItem>>("https://localhost:7148/api/mainpage/lastMoviesReviews");

        LastGamesReviews = await httpClient.GetFromJsonAsync<IEnumerable<LastReviewsComponentItem>>("https://localhost:7148/api/mainpage/lastGamesReviews");
    }
}
