@using Domain
@inject HttpClient httpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="sidebar rcol">
    <div class="widget last-reviews">
        <h3>Последние отзывы</h3>
        <div class="widget-body">
            <ul>
                
            </ul>
            <ul>
                
            </ul>
        </div>
    </div>
</div>

@code {
    
}
