<div class="popup_block">
    <form id="loginForm" method="post">
        <div class="field">
            <label>Имя пользователя</label>
            <div class="input">
                <input type="text" name="log" value="" id="login" />
            </div>
        </div>
        <div class="field">
            <label>Пароль</label>
            <div class="input">
                <input type="password" name="pwd" value="" id="pass" />
            </div>
        </div>
        <div class="submit">
            <button name="submit" type="submit">Войти</button>
        </div>
    </form>
</div>

<style>
    .popup_block {
        width: 350px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 200px auto;
        position: fixed;
        z-index: 99999;
        display: none;
    }

    *html .popup_block {
        position: absolute;
    }

    .popup_block, .window {
        margin: 120px auto;
    }

</style>
@code {

}
