<link href="~/css/app.css" rel="stylesheet" />

<div class="popup_block">
    <form id="loginForm" method="post">
        <div class="field">
            <label>Имя пользователя</label>
            <div class="input">
                <input type="text" name="log" value="" id="login" />
            </div>
        </div>
        <div class="field">
            <label>Пароль</label>
            <div class="input">
                <input type="password" name="pwd" value="" id="pass" />
            </div>
        </div>
        <div class="submit">
            <button name="submit" type="submit">Войти</button>
        </div>
    </form>
</div>
