@using Domain
@inject HttpClient httpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-movies">
    <h3><NavLink class="my-nav-link" href="https://metarankings.ru/meta/news/kino/">Новости кино</NavLink></h3>
    
</div>

@code {
    
}
