<div class="index-movies">
    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>
    <div class="item">
        <a href="https://metarankings.ru/moana-2/" title="Фильм Моана 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/moana-2-cover-art1-50x70.jpg" alt="Моана 2"></a>
        <span class="item-name"><a href="https://metarankings.ru/moana-2/">Моана 2</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
        <span class="item-meta">Moana 2</span>
        <span class="item-meta">27 ноября 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/sidzhinn-kniga-krovi-2024/" title="Фильм Сиджинн. Книга крови"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/sidzhinn-kniga-krovi-cover-art-50x70.jpg" alt="Сиджинн. Книга крови"></a>
        <span class="item-name"><a href="https://metarankings.ru/sidzhinn-kniga-krovi-2024/">Сиджинн. Книга крови</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
        <span class="item-meta">Sijjin</span>
        <span class="item-meta">28 ноября 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/astral-medium-2024/" title="Фильм Астрал. Медиум"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/astral-medium-2024-cover-art-50x70.jpg" alt="Астрал. Медиум"></a>
        <span class="item-name"><a href="https://metarankings.ru/astral-medium-2024/">Астрал. Медиум</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
        <span class="item-meta">Oddity</span>
        <span class="item-meta">28 ноября 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/poslednee-zamykanie-konec-sveta-2024/" title="Фильм Последнее замыкание. Конец света"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/poslednee-zamykanie-konec-sveta-cover-art-50x70.jpg" alt="Последнее замыкание. Конец света"></a>
        <span class="item-name"><a href="https://metarankings.ru/poslednee-zamykanie-konec-sveta-2024/">Последнее замыкание. Конец света</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
        <span class="item-meta">W nich cala nadzieja</span>
        <span class="item-meta">28 ноября 2024</span>
    </div>
    <div class="item">
        <a href="https://metarankings.ru/perevozchik-dush-2024/" title="Фильм Перевозчик душ"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/perevozchik-dush-2024-cover-art-50x70.jpg" alt="Перевозчик душ"></a>
        <span class="item-name"><a href="https://metarankings.ru/perevozchik-dush-2024/">Перевозчик душ</a></span>
        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a> / <a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
        <span class="item-meta">Black Cab</span>
        <span class="item-meta">28 ноября 2024</span>
    </div>
    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
</div>

<style>
    #search_form-result .index-games, #search_form-result .index-movies, #search_form-result .specials-index .news-item {
        float: none;
        display: block;
        width: 100%;
    }

        #search_form-result .index-games h3 a, #search_form-result .index-movies h3 a, #search_form-result .specials-index h3 a {
            color: #0082ae;
        }

        #search_form-result .index-games .item, #search_form-result .index-movies .item {
            padding: 10px 0;
            border-right: none;
        }

            #search_form-result .index-games .item img, #search_form-result .index-movies .item img, #search_form-result .index-games .item .item-meta, #search_form-result .index-movies .item .item-meta {
                display: none;
            }

    .index-movies {
        width: 49.9%;
        float: left;
        margin: 15px 0;
    }

        .index-movies a {
            color: #000;
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

            .index-movies a:hover {
                color: #0068BF;
            }

        .index-movies h3, .index-games h3, .specials-index h3 {
            color: #333;
            margin-bottom: 10px;
            font-weight: 500;
        }

            .index-movies h3:after, .index-games h3:after, .specials-index h3:after {
                color: #888;
                content: "\203A";
                margin-left: 5px;
            }

            .index-movies h3:hover:after, .index-games h3:hover:after, .specials-index h3:hover:after {
                color: #333;
                margin-left: 7px;
            }

        .index-movies .item {
            padding: 10px 10px 20px 0;
            border-right: 1px dotted #cbcbcb;
        }

        .index-movies .news-item {
            margin-right: 2px;
        }

</style>

@code {

}
