@using Domain
@using System.Globalization
@inject HttpClient HttpClient

<div class="index-movies">
    <h3><NavLink class="my-nav-link" href="/games/details/alex">Скоро в кино</NavLink></h3>
    
    <NavLink class="my-nav-link" href="/games/details/alex">Самые ожидаемые фильмы</NavLink>
</div>

@code {
    
}
