@using Domain
@using System.Globalization
@inject HttpClient HttpClient

<div class="index-movies">
    <h3><a class="my-nav-link" href="/movies/soon-at-cinemas">Скоро в кино</a></h3>

    <a class="my-nav-link" href="/movies/most-expected-movies">Самые ожидаемые фильмы</a>
</div>

@code {

}
