@using Domain
@using System.Globalization
@inject HttpClient HttpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-movies">
    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>
    
    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
</div>

@code {
    
}
