@using Domain
@inject HttpClient HttpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="specials-index">
    <h3><NavLink class="my-nav-link" href="https://metarankings.ru/meta/specials/">Спецматериалы</NavLink></h3>
    
</div>

@code {
    
}
