@using Domain
@inject HttpClient HttpClient

<div class="specials-index">
    <h3><NavLink class="my-nav-link" href="https://metarankings.ru/meta/specials/">Спецматериалы</NavLink></h3>
    
</div>

@code {
    
}
