@using Domain

@inject HttpClient HttpClient

<link href="~/css/app.css" rel="stylesheet" />

<div class="slideshow">
    <div id="slideshow" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="7000" data-cycle-slides="> div" data-cycle-pager=".pager">
        <div class="slide clear" data-cycle-pager-template="<span>Фильмы</span>">
            <div class="post">
                
            </div>
        </div>
        <div class="slide clear" data-cycle-pager-template="<span>Игры</span>">
            <div class="post">
                
            </div>
        </div>
    </div>
</div>

@code {
    
}