<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href="https://metarankings.ru"><span>Meta</span>Rankings</a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span><a href="https://metarankings.ru/best-movies/">Фильмы</a></span>
                        <div class="movie-drop">
                            <a href="https://metarankings.ru/new-movies/">Новинки</a>
                            <a href="https://metarankings.ru/coming-soon/">Скоро</a>
                            <a href="https://metarankings.ru/most-waiting-films/">Ожидаемые</a>
                            <a href="https://metarankings.ru/meta/movies/">Обзоры</a>
                            <a href="https://metarankings.ru/best-movies/">Топ фильмов</a>
                            <a href="https://metarankings.ru/best-movies-2024/">Фильмы 2024</a>
                            <a href="https://metarankings.ru/best-boeviki/2024/">Боевики 2024</a>
                            <a href="https://metarankings.ru/best-horror/2024/">Ужасы 2024</a>
                            <a href="https://metarankings.ru/best-comedy/2024/">Комедии 2024</a>
                            <a href="https://metarankings.ru/best-thrillers/2024/">Триллеры 2024</a>
                            <a href="https://metarankings.ru/best-fantasy/2024/">Фантастика 2024</a>
                            <a href="https://metarankings.ru/best-fentezi/2024/">Фэнтези 2024</a>
                            <a href="https://metarankings.ru/best-dramy/2024/">Драмы 2024</a>
                            <a href="https://metarankings.ru/best-melodramas/2024/">Мелодрамы 2024</a>
                            <a href="https://metarankings.ru/best-cartoons/2024/">Мультфильмы 2024</a>
                            <a href="https://metarankings.ru/best-serials/">Сериалы</a>
                        </div>
                    </li>
                    <li>
                        <div class="game-drop">
                            <a href="https://metarankings.ru/new-games/">Новинки</a>
                            <a href="https://metarankings.ru/release-date/">Дата выхода</a>
                            <a href="https://metarankings.ru/most-waiting-games/">Ожидаемые</a>
                            <a href="https://metarankings.ru/meta/games/">Обзоры</a>
                            <a href="https://metarankings.ru/best-games/">Топ игр</a>
                            <a href="https://metarankings.ru/best-games-2024/">Игры 2024</a>
                            <a href="https://metarankings.ru/best-pc-games/">ПК</a>
                            <a href="https://metarankings.ru/best-ps4-games/">PS4</a>
                            <a href="https://metarankings.ru/best-xboxone-games/">Xbox One</a>
                            <a href="https://metarankings.ru/best-switch-games/">Switch</a>
                            <a href="https://metarankings.ru/top-action-games/">Экшены</a>
                            <a href="https://metarankings.ru/top-shooters/">Шутеры</a>
                            <a href="https://metarankings.ru/top-horrors/">Хорроры</a>
                            <a href="https://metarankings.ru/top-igry-priklyucheniya/">Приключения</a>
                            <a href="https://metarankings.ru/top-rpg-games/">РПГ</a>
                            <a href="https://metarankings.ru/best-strategii/">Стратегии</a>
                            <a href="https://metarankings.ru/best-gonki/">Гонки</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://metarankings.ru/meta/collections/">Подборки</a>
                    </li>
                    <li>
                        <a href="https://metarankings.ru/user-reviews/">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div><div class="search_form">
                <form method="get" id="searchform" action="https://metarankings.ru/search/">
                    <fieldset>
                        <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off" />
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .headerer {
        width: 100%;
        top: 0;
        height: 100px;
    }

    .header-bottom {
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
        height: 55px;
        position: fixed;
        z-index: 10000;
        top: 0;
    }

    .header {
        width: 1000px;
        margin: 0 auto;
    }

    .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .nav-menu.menu-open .menu-icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .nav-menu.menu-open .menu-icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    .nav-menu.menu-open .menu-icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .nav-menu.menu-open .menu-icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .nav-menu.menu-open .nav {
        overflow: auto;
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .nav-menu.menu-open .search_form {
        display: block;
    }

    .menu-icon {
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        float: left;
        margin: 15px 0 15px 10px;
    }

        .menu-icon span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: #888;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

            .menu-icon span:nth-child(1) {
                top: 0px;
            }

            .menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
                top: 10px;
            }

            .menu-icon span:nth-child(4) {
                top: 20px;
            }

    .nav-menu.menu-open .menu-icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .nav-menu.menu-open .menu-icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    .nav-menu.menu-open .menu-icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .nav-menu.menu-open .menu-icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .logo {
        font-size: 25px;
        font-family: Verdana,sans-serif;
        padding: 15px 0;
        overflow: hidden;
        float: left;
        font-weight: bold;
    }

        .logo span {
            color: #a0d787;
        }

        .logo a {
            color: #c3c3c3;
            text-decoration: none;
            transition: all .5s ease 0s;
        }

            .logo a:hover {
                opacity: 0.7;
            }

    .digbuy .logo {
        font-size: 25px;
        float: none;
        font-weight: bold;
    }

        .digbuy .logo span {
            color: #ff8a00;
        }

    .nav {
        position: relative;
    }

        .nav .active {
            color: #000;
        }

        .nav ul {
            float: left;
            list-style: outside none none;
            text-align: center;
            margin-left: 20px;
        }

            .nav ul li {
                color: #777;
                display: inline-block;
                text-align: center;
                padding: 22px 12px;
                position: relative;
                cursor: pointer;
            }

                .nav ul li a {
                    color: #777;
                    display: block;
                    text-decoration: none;
                }

                    .nav ul li a:hover {
                        color: #0082ae;
                    }

                    .nav ul li a img {
                        display: inline;
                        margin: 0 5px 0 0;
                        vertical-align: middle;
                    }

                .nav ul li span:before {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #ccc;
                    content: "";
                    position: absolute;
                    right: -1px;
                    top: 30px;
                }

                .nav ul li:hover span:before {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #000;
                }

                .nav ul li:hover .game-drop {
                    visibility: visible;
                    height: auto;
                    padding: 5px;
                    opacity: 1;
                }

                .nav ul li:hover .movie-drop {
                    visibility: visible;
                    height: auto;
                    padding: 5px;
                    opacity: 1;
                }

        .nav .bst, .genre-menu .bst {
            background: #9ad77f !important;
        }

    .nav-menu.menu-open .nav {
        overflow: auto;
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .nav {
        float: none;
    }

    .movie-drop {
        background: #fff;
        color: #333;
        z-index: 999;
        position: absolute;
        left: 0;
        text-align: left;
        margin-top: 15px;
        padding: 0;
        min-width: 180px;
        box-shadow: 0 3px 12px rgba(0,0,0,.1);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: 0;
        max-height: 600px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #555 transparent;
    }

        .movie-drop a {
            color: #333 !important;
            padding: 10px;
        }

            .movie-drop a:hover {
                color: #000 !important;
                background: #f1f1f1;
            }

        .movie-drop span {
            font-size: 12px;
            color: #c2c2c2;
            display: block;
            margin: 5px 15px;
        }

    .nav ul li:hover .movie-drop {
        visibility: visible;
        height: auto;
        padding: 5px;
        opacity: 1;
    }

    .game-drop a, .movie-drop a {
        transition: all .3s ease 0s;
    }

    .game-drop, .movie-drop {
        position: relative;
        margin-top: 10px;
        height: 150px;
        overflow: auto;
        visibility: visible;
        opacity: 1;
    }

        .game-drop a, .movie-drop a {
            padding: 10px !important;
        }

    .nav ul li:hover .game-drop, .nav ul li:hover .movie-drop {
        position: relative;
        margin-top: 10px;
        height: 150px;
        overflow: auto;
        visibility: visible;
        opacity: 1;
        padding: 0;
    }

    .adslot_1 {
        width: 468px;
        height: 60px;
    }

    .game-drop {
        background: #fff;
        color: #333;
        z-index: 999;
        position: absolute;
        left: 0;
        text-align: left;
        margin-top: 15px;
        padding: 0;
        min-width: 180px;
        box-shadow: 0 3px 12px rgba(0,0,0,.1);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: 0;
        max-height: 600px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #555 transparent;
    }

        .game-drop a {
            color: #333 !important;
            padding: 10px;
        }

            .game-drop a:hover {
                color: #000 !important;
                background: #f1f1f1;
            }

        .game-drop span {
            font-size: 12px;
            color: #c2c2c2;
            display: block;
            margin: 5px 15px;
        }

    .nav ul li:hover .game-drop {
        visibility: visible;
        height: auto;
        padding: 5px;
        opacity: 1;
    }

    .game-drop a, .movie-drop a {
        transition: all .3s ease 0s;
    }

    .game-drop, .movie-drop {
        position: relative;
        margin-top: 10px;
        height: 150px;
        overflow: auto;
        visibility: visible;
        opacity: 1;
    }

        .game-drop a, .movie-drop a {
            padding: 10px !important;
        }

    .nav ul li:hover .game-drop, .nav ul li:hover .movie-drop {
        position: relative;
        margin-top: 10px;
        height: 150px;
        overflow: auto;
        visibility: visible;
        opacity: 1;
        padding: 0;
    }

    .nav_login {
        position: relative;
    }

        .nav_login ul {
            float: left;
            list-style: outside none none;
            overflow: hidden;
            text-align: center;
        }

            .nav_login ul li {
                color: #777;
                display: inline-block;
                overflow: hidden;
                text-align: center;
                padding: 22px 12px;
            }

                .nav_login ul li a {
                }

                    .nav_login ul li a:hover {
                        color: #0082ae;
                    }
</style>