@page "/admin/platforms/list-platforms"
@using Domain.Games

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin/Games/platforms/add-platform">Добавить платформу</a>
        <div class="platformsList">
            @if (Platforms is null)
            {
                <p>Загружается...</p>
            }
            else
            {
                foreach (Platform platform in Platforms)
                {
                    <div class="platform">
                        <h4>@platform.Name</h4>
                        <a href="/admin/Games/platforms/remove-platform/@platform.Id">Remove platform</a>
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить платформу
    </NotAuthorized>
</AuthorizeView>
