@page "/developers/{DeveloperId:int}"
@using Domain
@using System.Globalization

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu />

@if (Developer is null)
{
    <p>Loading...</p>
}
else
{
    <div class="content-title">
        <h1>@Developer.Name</h1>
    </div>

    <div id="filter">
        <BlazorClient.Components.PagesComponents.DeveloperDetails.OtherNumberOfDevelopersComponent DevelopersGettingLimit="11" DevelopersGettingOffset="0" />

        <div class="filter-nav">
            <div class="filter-name">Год</div>
            <div class="filter-menu">
                <a href="/games/best-games?Year=2025">2025</a>
                <a href="/games/best-games?Year=2024">2024</a>
                <a href="/games/best-games?Year=2023">2023</a>
                <a href="/games/best-games?Year=2022">2022</a>
                <a href="/games/best-games?Year=2021">2021</a>
                <a href="/games/best-games?Year=2020">2020</a>
                <a href="/games/best-games?Year=2019">2019</a>
                <a href="/games/best-games?Year=2018">2018</a>
            </div>
        </div>
        <div class="filter-nav">
            <div class="filter-name">Лучшие</div>
            <div class="filter-menu">
                <a title="Лучшие игры для PC" href="/games/best-games?platformId=3">PC</a>
                <a title="Лучшие игры для PlayStation 5" href="/games/best-games?platformId=6">PlayStation 5</a>
                <a title="Лучшие игры для Xbox Series X" href="/games/best-games?platformId=7">Xbox Series X</a>
                <a title="Лучшие игры для PS4" href="/games/best-games?platformId=1">PlayStation 4</a>
                <a title="Лучшие игры для Xbox One" href="/games/best-games?platformId=5">Xbox One</a>
                <a title="Лучшие игры для Nintendo Switch" href="/games/best-games?platformId=4">Nintendo Switch</a>
                <a title="Лучшие игры для PS3" href="/games/best-games?platformId=2">PlayStation 3</a>
                <a title="Лучшие игры для Xbox 360" href="/games/best-games?platformId=8">Xbox 360</a>
                <a title="Лучшие игры для Nintendo Wii U" href="/games/best-games?platformId=9">Wii U</a>
                <a title="Лучшие игры для PS Vita" href="/games/best-games?platformId=14">PS Vita</a>
                <a title="Лучшие игры для Nintendo 3DS" href="/games/best-games?platformId=10">3DS</a>
            </div>
        </div>
        <h2>Новые игры</h2>
    </div>

    <div id="loop" class="list clear">
        @foreach (var game in Developer.Games)
        {
            <BlazorClient.Components.PagesComponents.DeveloperDetails.DeveloperGameComponent Game="@game" />
        }
    </div>
}

