@page "/admin/Games/publishers/remove-publisher/{Id:long}"

<AuthorizeView Policy="Admin">
    <Authorized>
        @if (Publisher is null)
        {
            <p>Загружается...</p>
        }
        else
        {
            <h3>Удалить @Publisher.Name</h3>
            <p>Вы уверены, что хотите удалить этого издателя?</p>
            <p>
                <button type="button" @onclick="RemovePublisherAsync">Удалить</button>
            </p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы удалить издателя
    </NotAuthorized>
</AuthorizeView>