<div class="slideshow">
  <div id="slideshow" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="7000"
    data-cycle-slides="> div" data-cycle-pager=".pager">
    <div class="slide clear" data-cycle-pager-template="<span>Фильмы</span>">
      <div class="post">
        <a *ngFor="let item of games" href="{{item.link}}" title="{{item.title}}">
          <div class="featured-image">
            <img class="post-image"
              src="{{item.imageLink}}"
              alt="{{item.link}}">
            <div class="{{item.scoreStyle}}">{{item.score}}</div>
            <span>{{item.title}}</span>
          </div>
        </a>
    </div>
  </div>
</div>