@page "/collections"
@using Domain

<BlazorClient.Components.Headerer />

<div class="wrapper">
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div class="content-title">
                <h1>Подборки MetaRankings</h1>
            </div>
            <div class="title-index">
                <div class="dropdown-menu genre">
                    <span class="title">Фильмы</span>
                    <ul>
                        <li><a class="my-nav-link" href="/best-movies-2024/">2024</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2023/">2023</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2022/">2022</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2021/">2021</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2020/">2020</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2019/">2019</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2018/">2018</a></li>
                        <li><a class="my-nav-link" href="/best-movies-2017/">2017</a></li>
                    </ul>
                </div>
                <div class="dropdown-menu genre">
                    <span class="title">Мультфильмы</span>
                    <ul>
                        <li><a class="my-nav-link" href="/best-cartoons/2024/">2024</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2023/">2023</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2022/">2022</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2021/">2021</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2020/">2020</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2019/">2019</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2018/">2018</a></li>
                        <li><a class="my-nav-link" href="/best-cartoons/2017/">2017</a></li>
                    </ul>
                </div>
                <div class="dropdown-menu genre">
                    <span class="title">Игры</span>
                    <ul>
                        <li><a class="my-nav-link" href="/best-games-2024/">2024</a></li>
                        <li><a class="my-nav-link" href="/best-games-2023/">2023</a></li>
                        <li><a class="my-nav-link" href="/best-games-2022/">2022</a></li>
                        <li><a class="my-nav-link" href="/best-games-2021/">2021</a></li>
                        <li><a class="my-nav-link" href="/best-games-2020/">2020</a></li>
                        <li><a class="my-nav-link" href="/best-games-2019/">2019</a></li>
                        <li><a class="my-nav-link" href="/best-games-2018/">2018</a></li>
                        <li><a class="my-nav-link" href="/best-games-2017/">2017</a></li>
                    </ul>
                </div>
            </div>
            <div id="loop" class="news list">
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/most-difficult-games/" title="Самые сложные игры"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg" alt="Самые сложные игры"></a>

                    <a class="news-title" href="/collections/most-difficult-games/">Самые сложные игры</a>
                    <div class="post-content">Самые сложные игры всех жанров для PC и игровых консолей за последнее время, рейтинг которых...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-movies-about-women/" title="Лучшие фильмы про женщин"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/films-pro-zhenshhin-445x250.jpg" alt="Лучшие фильмы про женщин"></a>

                    <a class="news-title" href="/collections/best-movies-about-women/">Лучшие фильмы про женщин</a>
                    <div class="post-content">Лучшие фильмы про женщин всех жанров, рейтинг которых составлялся по данным оценок критиков и проголосовавших...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/movies-about-real-events/" title="Фильмы про реальные события"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/pro-realnye-sobytiya-445x250.jpg" alt="Фильмы про реальные события"></a>

                    <a class="news-title" href="/collections/movies-about-real-events/">Фильмы про реальные события</a>
                    <div class="post-content">Фильмы про реальные события всех жанров, рейтинг которых составлялся по данным оценок критиков и проголосовавших...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>
                    <script>
                        window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: 'yandex_rtb_R-A-201169-5',
                            blockId: 'R-A-201169-5'
                          })
                        })</script>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/luchshie-filmy-pro-monstrov/" title="Лучшие фильмы про монстров"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/filmy-pro-monstrov-445x250.jpg" alt="Лучшие фильмы про монстров"></a>

                    <a class="news-title" href="/collections/luchshie-filmy-pro-monstrov/">Лучшие фильмы про монстров</a>
                    <div class="post-content">Лучшие фильмы про монстров всех жанров, рейтинг которых составлялся по данным оценок критиков и проголосовавших...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/samye-strashnye-igry/" title="Самые страшные игры"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/strashnye-igry-445x250.jpg" alt="Самые страшные игры"></a>

                    <a class="news-title" href="/collections/samye-strashnye-igry/">Самые страшные игры</a>
                    <div class="post-content">Самые страшные игры для PC и игровых консолей за последнее время, рейтинг которых составлялся по...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-games-open-world/" title="Лучшие игры с открытым миром"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/best-igry-s-otkrytym-mirom-445x250.jpg" alt="Лучшие игры с открытым миром"></a>

                    <a class="news-title" href="/collections/best-games-open-world/">Лучшие игры с открытым миром</a>
                    <div class="post-content">Лучшие игры с открытым миром всех жанров для PC и игровых консолей за последнее время,...</div>
                    <div class="rubrika"><a class="my-nav-link" href="/collections/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/filmy-pro-paranormalnye-yavleniya/" title="Фильмы про паранормальные явления"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/pro-paranormalnye-yavleniya-445x250.jpg" alt="Фильмы про паранормальные явления"></a>

                    <a class="news-title" href="/collections/filmy-pro-paranormalnye-yavleniya/">Фильмы про паранормальные явления</a>
                    <div class="post-content">Лучшие фильмы про паранормальные явления, рейтинг которых составлялся по данным оценок критиков и проголосовавших пользователей....</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/luchshie-filmy-pro-shpionov-i-tajnyx-agentov/" title="Лучшие фильмы про шпионов и тайных агентов"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/filmy-pro-shpionov-i-tajnyx-agentov-445x250.jpg" alt="Лучшие фильмы про шпионов и тайных агентов"></a>

                    <a class="news-title" href="/collections/luchshie-filmy-pro-shpionov-i-tajnyx-agentov/">Лучшие фильмы про шпионов и тайных агентов</a>
                    <div class="post-content">Здесь собраны лучшие фильмы про шпионов и тайных агентов, рейтинг которых составлялся по данным оценок...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-filmy-pro-inoplanetyan/" title="Лучшие фильмы про инопланетян"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/filmy-pro-inoplanetyan-445x250.jpg" alt="Лучшие фильмы про инопланетян"></a>

                    <a class="news-title" href="/collections/best-filmy-pro-inoplanetyan/">Лучшие фильмы про инопланетян</a>
                    <div class="post-content">Здесь собраны лучшие фильмы про инопланетян, рейтинг которых составлялся по данным оценок критиков и проголосовавших...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/samye-krasivye-igry-dlya-pc-i-konsolej/" title="Самые красивые игры"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/krasivye-igry-445x250.jpg" alt="Самые красивые игры"></a>

                    <a class="news-title" href="/collections/samye-krasivye-igry-dlya-pc-i-konsolej/">Самые красивые игры</a>
                    <div class="post-content">Здесь собраны самые красивые игры для PC и консолей за последнее время, рейтинг которых составлялся...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>

                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-samye-krasivye-filmy/" title="Самые красивые фильмы"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/krasivye-filmy-445x250.jpg" alt="Самые красивые фильмы"></a>

                    <a class="news-title" href="/collections/best-samye-krasivye-filmy/">Самые красивые фильмы</a>
                    <div class="post-content">Здесь собраны самые красивые фильмы, рейтинг которых составлялся по данным оценок критиков и проголосовавших пользователей....</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-ostrosyuzhetnye-filmy/" title="Остросюжетные фильмы"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/ostrosyuzhetnye-filmy-445x250.jpg" alt="Остросюжетные фильмы"></a>

                    <a class="news-title" href="/collections/best-ostrosyuzhetnye-filmy/">Остросюжетные фильмы</a>
                    <div class="post-content">Здесь собраны лучшие остросюжетные фильмы, рейтинг которых составлялся по данным оценок критиков и проголосовавших пользователей....</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-filmy-pro-sverxsposobnosti/" title="Фильмы про сверхспособности"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/filmy-pro-sverxsposobnosti-445x250.jpg" alt="Фильмы про сверхспособности"></a>

                    <a class="news-title" href="/collections/best-filmy-pro-sverxsposobnosti/">Фильмы про сверхспособности</a>
                    <div class="post-content">Здесь собраны лучшие Фильмы про сверхспособности, рейтинг которых составлялся по данным оценок критиков и проголосовавших...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/best-igry-pro-robotov/" title="Лучшие игры про роботов"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/igry-pro-robotov-445x250.jpg" alt="Лучшие игры про роботов"></a>

                    <a class="news-title" href="/collections/best-igry-pro-robotov/">Лучшие игры про роботов</a>
                    <div class="post-content">Здесь собраны лучшие игры про роботов (андроидов и киборгов) для PC и консолей за последнее...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
                <div class="post clear">
                    <a class="my-nav-link" href="/collections/luchshie-filmy-pro-robotov/" title="Лучшие фильмы про роботов"><img class="news-image" src="https://metarankings.ru/images/uploads/2023/05/filmy-pro-robotov-445x250.jpg" alt="Лучшие фильмы про роботов"></a>

                    <a class="news-title" href="/collections/luchshie-filmy-pro-robotov/">Лучшие фильмы про роботов</a>
                    <div class="post-content">Здесь собраны лучшие фильмы про роботов (андроидов и киборгов) за последнее время, рейтинг которых составлялся...</div>
                    <div class="rubrika"><a class="my-nav-link" href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                </div>
            </div>
            <div class="pagination">
                <div class="navi">
                    <span class='page-numbers current'>1</span>
                    <a class='page-numbers' href='https://metarankings.ru/meta/collections/page/2/'>2</a>
                    <a class='page-numbers' href='https://metarankings.ru/meta/collections/page/3/'>3</a>
                    <a class='page-numbers' href='https://metarankings.ru/meta/collections/page/4/'>4</a>
                    <a class="next page-numbers" href="https://metarankings.ru/meta/collections/page/2/">Показать еще</a>
                </div>
            </div>
            <div id="yandex_rtb_R-A-201169-26"></div>
            <script>
                window.yaContextCb.push(()=>{
                    Ya.Context.AdvManager.render({
                        "blockId": "R-A-201169-26",
                        "renderTo": "yandex_rtb_R-A-201169-26"
                    })
                })
            </script>
        </div>
        <div class="sidebar rcol">
            <div class="widget last-reviews">
                <h3>Последние отзывы</h3>
                <div class="widget-body">
                    <BlazorClient.Components.MainPage.LatestReviewsComponent Links="@LatestMoviesReviews" />
                    <BlazorClient.Components.MainPage.LatestReviewsComponent Links="@LatestGamesReviews" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
            <a rel="nofollow" href="/about/" data-title="О сайте" class="tooltip">О нас</a>
            <a rel="nofollow" href="/contact/" data-title="Форма обратной связи" class="tooltip">Связь</a>
            <a rel="nofollow" href="/polzovatelskoe-soglashenie/" data-title="Пользовательское соглашение" class="tooltip">Пользовательское соглашение</a>
            <a rel="nofollow" href="/politika-konfidencialnosti/" data-title="Политика конфиденциальности" class="tooltip">Конфиденциальность</a>
        </div>
        <div class="credits">
            <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
            <a class="my-nav-link" href="https://vk.com/metarankings_ru" rel="nofollow noopener" target="_blank" title="VK"><span class="vko"></span></a>
            <a class="my-nav-link" href="https://twitter.com/metarankings" rel="nofollow noopener" target="_blank" title="Twitter"><span class="tw"></span></a>
        </div>
    </div>
</div>
<div class="wbody" onclick="show('none')"></div>
<div class="window">
</div>
<div class="popup_block">
    <form action="https://metarankings.ru/login.php?redirect_to=https%3A%2F%2Fmetarankings.ru%2Fsamye-slozhnye-igry%2F" id="loginForm" method="post">
        <div class="field">
            <label>Имя пользователя</label>
            <div class="input">
                <input type="text" name="log" value="" id="login" />
            </div>
        </div>
        <div class="field">
            <a rel="nofollow" href="https://metarankings.ru/login.php?action=lostpassword" id="forgot">Забыли?</a>
            <label>Пароль</label>
            <div class="input">
                <input type="password" name="pwd" value="" id="pass" />
            </div>
        </div>
        <div class="submit">
            <button name="submit" type="submit">Войти</button>
            <div class="registr"><a rel="nofollow" href="https://metarankings.ru/login.php?action=register">Регистрация</a></div>
        </div>
    </form>
</div>
<div id="toTop" class="toTop">↑</div>

@code {
    public Link[] LatestMoviesReviews { get; set; } = new Link[]
    {
        new Link{Href="/movies/details/The-Fifth-Beatle/", Title="Пятый битл"},
        new Link{Href="/movies/details/The-Adventures-of-Paddington 3/", Title="Приключения Паддингтона 3"},
        new Link{Href="/movies/details/Moana-2/", Title="Моана 2"},
        new Link{Href="/movies/details/The-Conclave/", Title="Конклав"},
        new Link{Href="/movies/details/Gladiator-2/", Title="Гладиатор 2"},
        new Link{Href="/movies/details/Heretic/", Title="Еретик"},
        new Link{Href="/movies/details/The-Love-of-the-Soviet-Union/", Title="Любовь Советского Союза"},
        new Link{Href="/movies/details/The-Return-of-Keshas-Parrot/", Title="Возвращение попугая Кеши"},
        new Link{Href="/movies/details/Venom-3-The-Last-Dance/", Title="Веном 3: Последний танец"},
        new Link{Href="/movies/details/Joker-Madness-For-Two/", Title="Джокер: Безумие на двоих"},
    };

    public Link[] LatestGamesReviews { get; set; } = new Link[]
    {
        new Link{Href="/games/details/Indiana-Jones-and-the-Great-Circle/", Title="Indiana Jones and the Great Circle"},
        new Link{Href="/games/details/STALKER-2-Heart-of-Chernobyl/", Title="S.T.A.L.K.E.R. 2: Heart of Chernobyl"},
        new Link{Href="/games/details/Dragon-Age-The-Veilguard/", Title="Dragon Age: The Veilguard"},
        new Link{Href="/games/details/Call-of-Duty-Black-Ops-6/", Title="Call of Duty: Black Ops 6"},
        new Link{Href="/games/details/Silent-Hill-2/", Title="Silent Hill 2"},
        new Link{Href="/games/details/The-Legend-of-Zelda-Echoes-of-Wisdom/", Title="The Legend of Zelda: Echoes of Wisdom"},
        new Link{Href="/games/details/Astro-Bot/", Title="Astro Bot"},
        new Link{Href="/games/details/Star-Wars-Outlaws/", Title="Star Wars Outlaws"},
        new Link{Href="/games/details/Black-Myth-WuKong/", Title="Black Myth: WuKong"},
        new Link{Href="/games/details/Senuas-Saga-Hellblade-2/", Title="Senua’s Saga: Hellblade 2"}
    };
}