<div class="footer">

    <!-- //Rating Mail.ru counter --><div class="copyright">
        &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
        <NavLink class="my-nav-link" href="/games/details/alex">О нас</NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">Связь</NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">Пользовательское соглашение</NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">Конфиденциальность</NavLink>
    </div>
    <div class="credits">
        <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
        <NavLink class="my-nav-link" href="/games/details/alex">Link</NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">Link</NavLink>
    </div>
</div>