<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <NavLink class="my-nav-link" href="/"><span>Meta</span>Rankings</NavLink>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span><NavLink class="my-nav-link" href="/movies">Фильмы</NavLink></span>
                        <div class="movie-drop">
                            <NavLink class="my-nav-link" href="/movies/new">Новинки</NavLink>
                            <NavLink class="my-nav-link" href="/movies/soon">Скоро</NavLink>
                            <NavLink class="my-nav-link" href="/movies/expected">Ожидаемые</NavLink>
                            <NavLink class="my-nav-link" href="/movies/reviews">Обзоры</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top">Топ фильмов</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-2024">Фильмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-actions-2024">Боевики 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-horrors-2024">Ужасы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-comedies-2024">Комедии 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-thrillers-2024">Триллеры 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-fiction-2024">Фантастика 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-fantasy-2024">Фэнтези 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-dramas-2024">Драмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-melodramas-2024">Мелодрамы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-cartoons-2024">Мультфильмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/movies/top-series-2024">Сериалы</NavLink>
                        </div>
                    </li>
                    <li>
                        <span><NavLink class="my-nav-link" href="/games/details/alex">Игры</NavLink></span>
                        <div class="game-drop">
                            <NavLink class="my-nav-link" href="/games/new">Новинки</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Дата выхода</NavLink>
                            <NavLink class="my-nav-link" href="/games/expected">Ожидаемые</NavLink>
                            <NavLink class="my-nav-link" href="/games/reviews">Обзоры</NavLink>
                            <NavLink class="my-nav-link" href="/games/top">Топ игр</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-2024">Игры 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-pc">ПК</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-ps4">PS4</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-xboxone">Xbox One</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-switch">Switch</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-actions">Экшены</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-shooters">Шутеры</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-horrors">Хорроры</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-adventures">Приключения</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-rpgs">РПГ</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-strategies">Стратегии</NavLink>
                            <NavLink class="my-nav-link" href="/games/top-racings">Гонки</NavLink>
                        </div>
                    </li>
                    <li>
                        <NavLink class="my-nav-link" href="/collections">Подборки</NavLink>
                    </li>
                    <li>
                        <NavLink class="my-nav-link" href="/reviews">Отзывы</NavLink>
                    </li>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div>
            <div class="search_form">
                <form method="get" id="searchform" action="https://metarankings.ru/search/">
                    <fieldset>
                        <input @bind-value="@gameNameToSearch" name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off" />
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>

@code {
    string gameNameToSearch = string.Empty;
}