<link href="~/css/app.css" rel="stylesheet" />

<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <NavLink class="my-nav-link" href="/games/details/alex"><span>Meta</span>Rankings</NavLink>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});"><NavLink class="my-nav-link" href="/games/details/alex">Фильмы</NavLink></span>
                        <div class="movie-drop">
                            <NavLink class="my-nav-link" href="/games/details/alex">Новинки</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Скоро</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Ожидаемые</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Обзоры</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Топ фильмов</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Фильмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Боевики 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Ужасы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Комедии 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Триллеры 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Фантастика 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Фэнтези 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Драмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Мелодрамы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Мультфильмы 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Сериалы</NavLink>
                        </div>
                    </li>
                    <li>
                        <span onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"><NavLink class="my-nav-link" href="/games/details/alex">Игры</NavLink></span>
                        <div class="game-drop">
                            <NavLink class="my-nav-link" href="/games/details/alex">Новинки</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Дата выхода</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Ожидаемые</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Обзоры</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Топ игр</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Игры 2024</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">ПК</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">PS4</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Xbox One</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Switch</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Экшены</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Шутеры</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Хорроры</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Приключения</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">РПГ</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Стратегии</NavLink>
                            <NavLink class="my-nav-link" href="/games/details/alex">Гонки</NavLink>
                        </div>
                    </li>
                    <li>
                        <NavLink class="my-nav-link" href="/games/details/alex">Подборки</NavLink>
                    </li>
                    <li>
                        <NavLink class="my-nav-link" href="/games/details/alex">Отзывы</NavLink>
                    </li>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div>
            <div class="search_form">
                <form method="get" id="searchform" action="https://metarankings.ru/search/">
                    <fieldset>
                        <input @bind-value="@gameNameToSearch" name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off" />
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>

@code {
    string gameNameToSearch = string.Empty;
}