<div class="popup_block">
    <form action="https://metarankings.ru/login.php?redirect_to=https%3A%2F%2Fmetarankings.ru%2Flegacy-of-kain-soul-reaver-12-remastered%2F" id="loginForm" method="post">
        <div class="field">
            <label>Имя пользователя</label>
            <div class="input">
                <input data-bind="@Login" type="text" />
            </div>
        </div>
        <div class="field">
            <a rel="nofollow" href="/games/details/alex">Забыли?</a>
            <label>Пароль</label>
            <div class="input">
                <input data-bind="@Password" type="password" />
            </div>
        </div>
        <div class="submit">
            <button name="submit" type="submit">Войти</button>
            <div class="registr"><a rel="nofollow" href="/games/details/alex">Регистрация</a></div>
        </div>
    </form>
</div>

@code
{
    public string Login { get; set; }
    public string Password { get; set; }
}