<div class="title-index">
    <div class="dropdown-menu genre">
        <span class="title">Год</span>
        <ul>
            <li><NavLink class="my-nav-link" href="/games/best/2024">Игры 2024</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2023">Игры 2023</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2022">Игры 2022</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2021">Игры 2021</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2020">Игры 2020</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2019">Игры 2019</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2018">Игры 2018</NavLink></li>
            <li><NavLink class="my-nav-link" href="/games/best/2017">Игры 2017</NavLink></li>
        </ul>
    </div>
</div>