<div class="title-index">
    <div class="dropdown-menu genre">
        <span class="title">Год</span>
        <ul>
            <li><a class="link-dark my-nav-link"href="/games/best/2024">Игры 2024</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2023">Игры 2023</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2022">Игры 2022</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2021">Игры 2021</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2020">Игры 2020</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2019">Игры 2019</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2018">Игры 2018</a></li>
            <li><a class="link-dark my-nav-link"href="/games/best/2017">Игры 2017</a></li>
        </ul>
    </div>
</div>