@page "/admin/localizations/add-localization"

<AuthorizeView Policy="Admin">
    <Authorized>
        <InputText @bind-Value="AddLocalizationModel.Name" />
        <input type="submit" value="Добавить" @onclick="AddLocalizationAsync" />
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы добавить локализацию
    </NotAuthorized>
</AuthorizeView>