@page "/admin/localizations/list-localizations"
@using Domain.Games

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin/localizations/add-localization">Добавить локализацию</a>
        <div class="localizationsList">
            @if (Localizations is null)
            {
                <p>Загружается...</p>
            }
            else
            {
                foreach (Localization localization in Localizations)
                {
                    <div class="localization">
                        <h4>@localization.Name</h4>
                        <a href="/admin/localizations/remove-localization/@localization.Id">Remove localization</a>
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить локализацию
    </NotAuthorized>
</AuthorizeView>
