@page "/admin/localizations/remove-localization/{Id:long}"

@if (Localization is null)
{
    <p>Loading...</p>
}
else
{
    <h3>Remove @Localization.Name</h3>
    <p>Are you sure you want to remove this localization?</p>
}