<div class="index-movies">
    <h3><a href="https://metarankings.ru/meta/news/kino/">Новости кино</a></h3>
    <div class="news-item">
      <a href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/"
        title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном"><img
          class="news-thumb" src="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg"
          alt="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном"></a>
      <span class="news-title"><a
          href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/">Ридли
          Скотт представил трейлер «Гладиатор 2» с Педро Паскаль и Дензелем Вашингтоном</a></span>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/tom-xardi-uxodit-ot-pogoni-v-trejlere-venom-3-poslednij-tanec/"
        title="Том Харди уходит от погони в трейлере «Веном 3: Последний танец»"><img class="news-thumb"
          src="https://metarankings.ru/images/uploads/2024/06/venom-3-poslednij-tanec-445x250.jpg"
          alt="Том Харди уходит от погони в трейлере «Веном 3: Последний танец»"></a>
      <span class="news-title"><a
          href="https://metarankings.ru/tom-xardi-uxodit-ot-pogoni-v-trejlere-venom-3-poslednij-tanec/">Том Харди
          уходит от погони в трейлере «Веном 3: Последний танец»</a></span>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/dzhenna-ortega-uillem-defo-moniki-belluchchi-i-drugie-v-trejlere-bitldzhus-bitldzhus/"
        title="Дженна Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»"><img
          class="news-thumb" src="https://metarankings.ru/images/uploads/2024/05/bitldzhus-bitldzhus-445x250.jpg"
          alt="Дженна Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»"></a>
      <span class="news-title"><a
          href="https://metarankings.ru/dzhenna-ortega-uillem-defo-moniki-belluchchi-i-drugie-v-trejlere-bitldzhus-bitldzhus/">Дженна
          Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»</a></span>
    </div>
  </div>