@using BlazorClient.Components.PagesComponents.Home

<div class="carousel-item active">
    <div class="row justify-content-between">
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Проект «Конец света»"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/proekt-konec-sveta-cover-art-187x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Секретный агент"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/sekretnyj-agent-2026-cover-art-196x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Отклонение"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/otklonenie-2026-cover-art-189x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="На цепи"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/na-cepi-2026-cover-art-197x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Острые козырьки: Бессмертный человек"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/ostrye-kozyrki-bessmertnyj-chelovek-cover-art-200x250.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Охота за тенью"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/oxota-za-tenyu-cover-art-197x281.jpg" />
    </div>
</div>