@using BlazorClient.Components.PagesComponents.Home

<div class="carousel-item">
    <div class="row justify-content-between">
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Monster Hunter Stories 3: Twisted Reflection"
                                       ImageSource="https://metarankings.ru/images/uploads/2025/12/monster-hunter-stories-3-twisted-reflection-boxart-cover-196x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Marathon"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/marathon-boxart-cover-196x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Crimson Desert"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/crimson-desert-boxart-cover-196x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Starship Troopers: Ultimate Bug War!"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/starship-troopers-ultimate-bug-war-boxart-cover-196x281.jpg" />
        <CarouselHomePageItemComponent CardText="Some quick example text to build"
                                       CardTitle="Super Meat Boy 3D"
                                       ImageSource="https://metarankings.ru/images/uploads/2026/03/super-meat-boy-3d-cover-art-196x281.jpg" />
    </div>
</div>