@page "/"

<BlazorClient.Components.Home.TopHomeNavigationComponent />

<div class="wrapper">
    <div class="pager">Лучшие в прошлом месяце </div>
    <div class="progress"></div>
    <BlazorClient.Components.Home.TheBestInPastMonthCycleSlideshow />
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div id="loop" class="list clear">
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
                    <div class="item">
                        <a href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/" title="Фильм Злая: Сказка о ведьме Запада"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zlaya-skazka-o-vedme-zapada-boxart-cover-50x70.jpg" alt="Злая: Сказка о ведьме Запада"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/">Злая: Сказка о ведьме Запада</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/melodramas/">Мелодрамы</a> / <a href="https://metarankings.ru/meta/movies/fantasy-movies/">Фэнтези</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zlaya-skazka-o-vedme-zapada-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">22 ноября 2024</span>
                        <span class="item-description">«Злая: Сказка о ведьме Запада» – это захватывающее переосмысление классической истории &#171;Волшебник страны Оз&#187;, рассказывающее о непростой дружбе Эльфабы, недооцененной из-за своей зеленой...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/konklav-2024/" title="Фильм Конклав"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/konklav-2024-cover-art-50x70.jpg" alt="Конклав"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг фильма" class="tooltip">6.3</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/konklav-2024/">Конклав</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/konklav-2024/#reviews">Рецензии (12)</a> <a rel="nofollow" href="https://metarankings.ru/konklav-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Когда кардиналу Лоуренсу поручают руководить одним из самых тайных и древних событий в мире — избранием нового Папы Римского, он оказывается в центре...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/neprobivaemye-2024/" title="Фильм Непробиваемые"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/neprobivaemye-2024-cover-art-50x70.jpg" alt="Непробиваемые"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/neprobivaemye-2024/">Непробиваемые</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/neprobivaemye-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/neprobivaemye-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Охранник броневика Джеймс и его сын Кейси перевозят миллионы долларов между банками, когда сталкиваются с безжалостным Руком и его бандой грабителей, которые устраивают...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/supersanta-2024/" title="Фильм Суперсанта"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/supersanta-2024-cover-art-50x70.jpg" alt="Суперсанта"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/supersanta-2024/">Суперсанта</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/supersanta-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/supersanta-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">После случайной травмы головы Санта-Клаус начинает верить, что он — СуперКлаус. Теперь, вместе со своим помощником-эльфом Билли и Лео, ему предстоит противостоять одержимому...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/velikaya-2024/" title="Фильм Великая"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/velikaya-2024-cover-art-50x70.jpg" alt="Великая"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг фильма" class="tooltip">5.6</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/velikaya-2024/">Великая</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/voennye-filmy/">Военные</a> / <a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/istoricheskie/">Исторические</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/velikaya-2024/#reviews">Рецензии (3)</a> <a rel="nofollow" href="https://metarankings.ru/velikaya-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Ли Миллер — легендарная фотомодель и икона стиля, чье лицо блистало на обложках Vogue. Будучи супругой египетского миллионера, она вдохновляла таких гениев, как...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/zyat-2024/" title="Фильм Зять"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zyat-2024-cover-art-50x70.jpg" alt="Зять"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/zyat-2024/">Зять</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zyat-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zyat-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Судьба преподносит сюрприз примерному семьянину Олегу, чья жизнь следует четко составленному плану. Его обожаемая дочь Алена влюбляется в Антона, лучшего друга Олега. В...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/zagovorennaya-2024/" title="Фильм Заговоренная"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/zagovorennaya-2024-cover-art-50x70.jpg" alt="Заговоренная"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/zagovorennaya-2024/">Заговоренная</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a> / <a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/zagovorennaya-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/zagovorennaya-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Жизнь начинающей писательницы переворачивается с ног на голову, когда она оказывается в центре событий, о которых пишет. На нее совершает нападение печально известный...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/replika-2024/" title="Фильм Реплика"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/replika-2024-cover-art-50x70.jpg" alt="Реплика"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/replika-2024/">Реплика</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/replika-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/replika-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Революционная технология «Реплика», позволяющая переносить сознание в цифровую среду, приближает братьев Антона и Давида к грандиозному успеху. Но одержимость Антона проектом оборачивается катастрофой:...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/taro-2024/" title="Фильм Таро"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/taro-2024-cover-art-50x70.jpg" alt="Таро"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/taro-2024/">Таро</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/taro-2024/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/taro-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Не имеющие ничего общего судьбы продавщицы супермаркета, успешного бизнесмена и курьера неожиданно переплетаются, когда каждый из них получает таинственную карту Таро.</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/unichtozhanna-2024/" title="Фильм УничтоЖанна"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/unichtozhanna-2024-cover-art-50x70.jpg" alt="УничтоЖанна"></a>
                        <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/unichtozhanna-2024/">УничтоЖанна</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/unichtozhanna-2024/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/unichtozhanna-2024/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">21 ноября 2024</span>
                        <span class="item-description">Спокойная жизнь домохозяйки Жанны, таящей в себе необычные способности, рушится, когда её неожиданно привлекают к работе в спецслужбах. Её первое задание — арест...</span>
                    </div>
                    <div class="title-index">
                        <div class="dropdown-menu genre">
                            <span class="title">Год</span>
                            <ul>
                                <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
                                <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
                                <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
                                <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
                                <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
                                <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
                                <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
                                <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
                    <div class="item">
                        <a href="https://metarankings.ru/stalker-2/" title="Игра S.T.A.L.K.E.R. 2: Heart of Chernobyl"><img class="post-image" src="https://metarankings.ru/images/uploads/2022/04/stalker-2-heart-of-chernobyl-cover-art-50x70.jpg" alt="S.T.A.L.K.E.R. 2: Heart of Chernobyl"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.5</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/stalker-2/">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/stalker-2/#reviews">Рецензии (8)</a> <a rel="nofollow" href="https://metarankings.ru/stalker-2/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">20 ноября 2024</span>
                        <span class="item-description">Игра S.T.A.L.K.E.R. 2: Heart of Chernobyl — продолжение культовой серии ролевых шутеров с видом от первого лица в открытом мире постапокалиптической зоны отчуждения Чернобыльской...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/lego-horizon-adventures/" title="Игра LEGO Horizon Adventures"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/lego-horizon-adventures-cover-art-50x70.jpg" alt="LEGO Horizon Adventures"></a>
                        <div class="small-score mark-5"><span data-title="Рейтинг игры" class="tooltip">5.1</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/lego-horizon-adventures/">LEGO Horizon Adventures</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/switch/">Switch</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/lego-horizon-adventures/#reviews">Рецензии (11)</a> <a rel="nofollow" href="https://metarankings.ru/lego-horizon-adventures/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">14 ноября 2024</span>
                        <span class="item-description">Присоединяйтесь к Элой, отважной охотнице, и отправляйтесь в захватывающее приключение, чтобы спасти мир от Хелиса, злодея, возглавляющего банду солнцепоклонников, поклоняющихся таинственному Древнему Злу....</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/farming-simulator-25/" title="Игра Farming Simulator 25"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/farming-simulator-25-cover-art-50x70.jpg" alt="Farming Simulator 25"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.4</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/farming-simulator-25/">Farming Simulator 25</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/farming-simulator-25/#reviews">Рецензии (5)</a> <a rel="nofollow" href="https://metarankings.ru/farming-simulator-25/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">12 ноября 2024</span>
                        <span class="item-description">Погрузитесь в мир увлекательной сельской жизни! Создайте ферму своей мечты в одиночку или вместе с друзьями в кооперативном режиме. Выбирайте из потрясающих локаций:...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/slitterhead/" title="Игра Slitterhead"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/slitterhead-boxart-cover-50x70.jpg" alt="Slitterhead"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">5.5</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/slitterhead/">Slitterhead</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps4/">PS4</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-one/">Xbox One</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/slitterhead/#reviews">Рецензии (11)</a> <a rel="nofollow" href="https://metarankings.ru/slitterhead/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">8 ноября 2024</span>
                        <span class="item-description">В этой боевой приключенческой игре вы окажетесь на хаотичных, заваленных мусором улицах Коулонга, где царит атмосфера тайны и опасности. Вы &#8212; Хёки, существо...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/mario-luigi-brothership/" title="Игра Mario &#038; Luigi: Brothership"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/mario-luigi-brothership-boxart-cover-50x70.jpg" alt="Mario &#038; Luigi: Brothership"></a>
                        <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">7</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/mario-luigi-brothership/">Mario &#038; Luigi: Brothership</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/switch/">Switch</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/mario-luigi-brothership/#reviews">Рецензии (7)</a> <a rel="nofollow" href="https://metarankings.ru/mario-luigi-brothership/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">7 ноября 2024</span>
                        <span class="item-description">В Mario &amp; Luigi: Brothership Братья Марио отправляются в новое морское приключение, чтобы спасти мир Конкордии! После того, как Уни-дерево разрушено, мир развалился...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/metro-awakening/" title="Игра Metro Awakening"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/metro-awakening-boxart-cover-50x70.jpg" alt="Metro Awakening"></a>
                        <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">7</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/metro-awakening/">Metro Awakening</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/metro-awakening/#reviews">Рецензии (5)</a> <a rel="nofollow" href="https://metarankings.ru/metro-awakening/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">7 ноября 2024</span>
                        <span class="item-description">Metro Awakening &#8212; это VR-игра во вселенной Metro, которая перенесет вас в 2028 год. Мир после ядерной катастрофы. Выжившие люди прячутся в подземных...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/teenage-mutant-ninja-turtles-splintered-fate/" title="Игра Teenage Mutant Ninja Turtles: Splintered Fate"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/teenage-mutant-ninja-turtles-splintered-fate-cover-art-50x70.jpg" alt="Teenage Mutant Ninja Turtles: Splintered Fate"></a>
                        <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">6.9</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/teenage-mutant-ninja-turtles-splintered-fate/">Teenage Mutant Ninja Turtles: Splintered Fate</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/switch/">Switch</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/teenage-mutant-ninja-turtles-splintered-fate/#reviews">Рецензии (5)</a> <a rel="nofollow" href="https://metarankings.ru/teenage-mutant-ninja-turtles-splintered-fate/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">6 ноября 2024</span>
                        <span class="item-description">В Teenage Mutant Ninja Turtles: Splintered Fate вас ждут динамичные и захватывающие бои в стиле roguelike, где каждый раз вас ждет новый вызов!...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/metal-slug-tactics/" title="Игра Metal Slug Tactics"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/metal-slug-tactics-boxart-cover-50x70.jpg" alt="Metal Slug Tactics"></a>
                        <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">6.9</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/metal-slug-tactics/">Metal Slug Tactics</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps4/">PS4</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/switch/">Switch</a> / <a href="https://metarankings.ru/meta/games/xbox-one/">Xbox One</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/metal-slug-tactics/#reviews">Рецензии (9)</a> <a rel="nofollow" href="https://metarankings.ru/metal-slug-tactics/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">5 ноября 2024</span>
                        <span class="item-description">Metal Slug Tactics &#8212; это тактическая игра с пошаговыми боями, которая дает возможность управлять ходом битвы с помощью особых атак. Зарабатывайте опыт, открывайте...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/horizon-zero-dawn-remastered/" title="Игра Horizon Zero Dawn Remastered"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/horizon-zero-dawn-remastered-boxart-cover-50x70.jpg" alt="Horizon Zero Dawn Remastered"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.3</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/horizon-zero-dawn-remastered/">Horizon Zero Dawn Remastered</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/horizon-zero-dawn-remastered/#reviews">Рецензии (3)</a> <a rel="nofollow" href="https://metarankings.ru/horizon-zero-dawn-remastered/#comments">Отзывы (0)</a></span>
                        <span class="item-meta">31 октября 2024</span>
                        <span class="item-description">Horizon Zero Dawn — это приключенческая ролевая игра, завоевавшая множество наград и признание критиков. В версии Remastered, знакомые игрокам дикие земли оживают с...</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/dragon-age-the-veilguard/" title="Игра Dragon Age: The Veilguard"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/12/dragon-age-the-veilguard-boxart-cover-50x70.jpg" alt="Dragon Age: The Veilguard"></a>
                        <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.3</span></div>
                        <span class="item-name"><a href="https://metarankings.ru/dragon-age-the-veilguard/">Dragon Age: The Veilguard</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/dragon-age-the-veilguard/#reviews">Рецензии (19)</a> <a rel="nofollow" href="https://metarankings.ru/dragon-age-the-veilguard/#comments">Отзывы (3)</a></span>
                        <span class="item-meta">31 октября 2024</span>
                        <span class="item-description">Ролевая экшен приключенческая игра Dragon Age: The Veilguard отправляет в мир Тедаса, яркую страну суровой дикой природы, коварных лабиринтов и сверкающих городов. Вас...</span>
                    </div>
                    <div class="title-index">
                        <div class="dropdown-menu genre">
                            <span class="title">Год</span>
                            <ul>
                                <li><a href="/best-games-2024/">Игры 2024</a></li>
                                <li><a href="/best-games-2023/">Игры 2023</a></li>
                                <li><a href="/best-games-2022/">Игры 2022</a></li>
                                <li><a href="/best-games-2021/">Игры 2021</a></li>
                                <li><a href="/best-games-2020/">Игры 2020</a></li>
                                <li><a href="/best-games-2019/">Игры 2019</a></li>
                                <li><a href="/best-games-2018/">Игры 2018</a></li>
                                <li><a href="/best-games-2017/">Игры 2017</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>

                </div>


                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/meta/news/kino/">Новости кино</a></h3>
                    <div class="news-item">
                        <a href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/" title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg" alt="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном"></a>
                        <span class="news-title"><a href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/">Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/tom-xardi-uxodit-ot-pogoni-v-trejlere-venom-3-poslednij-tanec/" title="Том Харди уходит от погони в трейлере «Веном 3: Последний танец»"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/06/venom-3-poslednij-tanec-445x250.jpg" alt="Том Харди уходит от погони в трейлере «Веном 3: Последний танец»"></a>
                        <span class="news-title"><a href="https://metarankings.ru/tom-xardi-uxodit-ot-pogoni-v-trejlere-venom-3-poslednij-tanec/">Том Харди уходит от погони в трейлере «Веном 3: Последний танец»</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/dzhenna-ortega-uillem-defo-moniki-belluchchi-i-drugie-v-trejlere-bitldzhus-bitldzhus/" title="Дженна Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/05/bitldzhus-bitldzhus-445x250.jpg" alt="Дженна Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»"></a>
                        <span class="news-title"><a href="https://metarankings.ru/dzhenna-ortega-uillem-defo-moniki-belluchchi-i-drugie-v-trejlere-bitldzhus-bitldzhus/">Дженна Ортега, Уиллем Дефо, Моники Беллуччи и другие в трейлере «Битлджус Битлджус»</a></span>
                    </div>
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/meta/news/igri/">Новости игр</a></h3>
                    <div class="news-item">
                        <a href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/" title="Sony объявила системные требования God of War Ragnarök для PC"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg" alt="Sony объявила системные требования God of War Ragnarök для PC"></a>
                        <span class="news-title"><a href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/">Sony объявила системные требования God of War Ragnarök для PC</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/activision-predstavila-kinematograficheskij-trejler-zombi-rezhima-call-of-duty-black-ops-6/" title="Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/08/kinematograficheskij-trejler-zombi-rezhima-v-call-of-duty-black-ops-6-445x250.jpg" alt="Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6"></a>
                        <span class="news-title"><a href="https://metarankings.ru/activision-predstavila-kinematograficheskij-trejler-zombi-rezhima-call-of-duty-black-ops-6/">Activision представила кинематографический трейлер зомби-режима Call of Duty: Black Ops 6</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/nintendo-pokazala-metroid-prime-4-beyond-dlya-switch/" title="Nintendo показала Metroid Prime 4: Beyond для Switch"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2024/06/metroid-prime-4-beyond-445x250.jpg" alt="Nintendo показала Metroid Prime 4: Beyond для Switch"></a>
                        <span class="news-title"><a href="https://metarankings.ru/nintendo-pokazala-metroid-prime-4-beyond-dlya-switch/">Nintendo показала Metroid Prime 4: Beyond для Switch</a></span>
                    </div>
                </div>
                <div class="specials-index">
                    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
                    <div class="news-item">
                        <a href="https://metarankings.ru/samye-slozhnye-igry/" title="Самые сложные игры"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg" alt="Самые сложные игры"></a>
                        <span class="news-title"><a href="https://metarankings.ru/samye-slozhnye-igry/">Самые сложные игры</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/best-films-pro-zhenshhin/" title="Лучшие фильмы про женщин"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/films-pro-zhenshhin-445x250.jpg" alt="Лучшие фильмы про женщин"></a>
                        <span class="news-title"><a href="https://metarankings.ru/best-films-pro-zhenshhin/">Лучшие фильмы про женщин</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/" title="Фильмы про реальные события"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/pro-realnye-sobytiya-445x250.jpg" alt="Фильмы про реальные события"></a>
                        <span class="news-title"><a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/">Фильмы про реальные события</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/" title="Лучшие фильмы про монстров"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/filmy-pro-monstrov-445x250.jpg" alt="Лучшие фильмы про монстров"></a>
                        <span class="news-title"><a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/">Лучшие фильмы про монстров</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/samye-strashnye-igry/" title="Самые страшные игры"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/strashnye-igry-445x250.jpg" alt="Самые страшные игры"></a>
                        <span class="news-title"><a href="https://metarankings.ru/samye-strashnye-igry/">Самые страшные игры</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/best-games-open-world/" title="Лучшие игры с открытым миром"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/best-igry-s-otkrytym-mirom-445x250.jpg" alt="Лучшие игры с открытым миром"></a>
                        <span class="news-title"><a href="https://metarankings.ru/best-games-open-world/">Лучшие игры с открытым миром</a></span>
                        <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
                    </div>
                </div>
                <div class="specials-index">
                    <h3><a href="https://metarankings.ru/meta/specials/">Спецматериалы</a></h3>
                    <div class="news-item">
                        <a href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/" title="Выйдет ли God Of War Ragnarok на ПК?"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2022/08/god-of-war-ragnarok1-445x250.jpg" alt="Выйдет ли God Of War Ragnarok на ПК?"></a>
                        <span class="news-title"><a href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/">Выйдет ли God Of War Ragnarok на ПК?</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/stoit-li-zhdat-overwatch-2/" title="Стоит ли ждать Overwatch 2?"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2022/08/overwatch-2-445x250.jpg" alt="Стоит ли ждать Overwatch 2?"></a>
                        <span class="news-title"><a href="https://metarankings.ru/stoit-li-zhdat-overwatch-2/">Стоит ли ждать Overwatch 2?</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/pyat-prichin-posmotret-serial-dom-drakona/" title="5 причин посмотреть сериал «Дом Дракона»"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2022/08/dom-drakona-445x250.jpg" alt="5 причин посмотреть сериал «Дом Дракона»"></a>
                        <span class="news-title"><a href="https://metarankings.ru/pyat-prichin-posmotret-serial-dom-drakona/">5 причин посмотреть сериал «Дом Дракона»</a></span>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/evolyuciya-znaka-cheloveka-pauka-za-vsyu-istoriyu-geroya-marvel/" title="Эволюция знака Человека-Паука &#8212; Как менялся логотип за всю историю героя Marvel"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2021/10/chelovek-pauk-445x250.jpg" alt="Эволюция знака Человека-Паука &#8212; Как менялся логотип за всю историю героя Marvel"></a>
                        <span class="news-title"><a href="https://metarankings.ru/evolyuciya-znaka-cheloveka-pauka-za-vsyu-istoriyu-geroya-marvel/">Эволюция знака Человека-Паука &#8212; Как менялся логотип за всю историю героя Marvel</a></span>
                    </div>
                </div>
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>
                    <div class="item">
                        <a href="https://metarankings.ru/moana-2/" title="Фильм Моана 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/moana-2-cover-art1-50x70.jpg" alt="Моана 2"></a>
                        <span class="item-name"><a href="https://metarankings.ru/moana-2/">Моана 2</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
                        <span class="item-meta">Moana 2</span>
                        <span class="item-meta">27 ноября 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/sidzhinn-kniga-krovi-2024/" title="Фильм Сиджинн. Книга крови"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/sidzhinn-kniga-krovi-cover-art-50x70.jpg" alt="Сиджинн. Книга крови"></a>
                        <span class="item-name"><a href="https://metarankings.ru/sidzhinn-kniga-krovi-2024/">Сиджинн. Книга крови</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
                        <span class="item-meta">Sijjin</span>
                        <span class="item-meta">28 ноября 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/astral-medium-2024/" title="Фильм Астрал. Медиум"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/astral-medium-2024-cover-art-50x70.jpg" alt="Астрал. Медиум"></a>
                        <span class="item-name"><a href="https://metarankings.ru/astral-medium-2024/">Астрал. Медиум</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
                        <span class="item-meta">Oddity</span>
                        <span class="item-meta">28 ноября 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/poslednee-zamykanie-konec-sveta-2024/" title="Фильм Последнее замыкание. Конец света"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/poslednee-zamykanie-konec-sveta-cover-art-50x70.jpg" alt="Последнее замыкание. Конец света"></a>
                        <span class="item-name"><a href="https://metarankings.ru/poslednee-zamykanie-konec-sveta-2024/">Последнее замыкание. Конец света</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a></span>
                        <span class="item-meta">W nich cala nadzieja</span>
                        <span class="item-meta">28 ноября 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/perevozchik-dush-2024/" title="Фильм Перевозчик душ"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/perevozchik-dush-2024-cover-art-50x70.jpg" alt="Перевозчик душ"></a>
                        <span class="item-name"><a href="https://metarankings.ru/perevozchik-dush-2024/">Перевозчик душ</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/movies/thrillers/">Триллеры</a> / <a href="https://metarankings.ru/meta/movies/horror/">Ужасы</a></span>
                        <span class="item-meta">Black Cab</span>
                        <span class="item-meta">28 ноября 2024</span>
                    </div>
                    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
                </div>
                <div class="index-games">
                    <h3><a href="https://metarankings.ru/release-date/">Дата выхода игр</a></h3>
                    <div class="item">
                        <a href="https://metarankings.ru/indiana-jones-and-the-great-circle/" title="Игра Indiana Jones and the Great Circle"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/02/indiana-jones-and-the-great-circle-cover-art-50x70.jpg" alt="Indiana Jones and the Great Circle"></a>
                        <span class="item-name"><a href="https://metarankings.ru/indiana-jones-and-the-great-circle/">Indiana Jones and the Great Circle</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/genre/priklyuchenie/">Приключение</a> / <a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
                        <span class="item-meta">9 декабря 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/alien-rogue-incursion/" title="Игра Alien: Rogue Incursion"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" alt="Alien: Rogue Incursion"></a>
                        <span class="item-name"><a href="https://metarankings.ru/alien-rogue-incursion/">Alien: Rogue Incursion</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/genre/xorror/">Хоррор</a></span>
                        <span class="item-meta">19 декабря 2024</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/sid-meiers-civilization-7/" title="Игра Sid Meier&#8217;s Civilization 7"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/02/sid-meiers-civilization-7-boxart-cover-50x70.jpg" alt="Sid Meier&#8217;s Civilization 7"></a>
                        <span class="item-name"><a href="https://metarankings.ru/sid-meiers-civilization-7/">Sid Meier&#8217;s Civilization 7</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/genre/strategiya/">Стратегия</a></span>
                        <span class="item-meta">6 февраля 2025</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/kingdom-come-deliverance-2/" title="Игра Kingdom Come: Deliverance 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/06/kingdom-come-deliverance-2-boxart-cover-50x70.jpg" alt="Kingdom Come: Deliverance 2"></a>
                        <span class="item-name"><a href="https://metarankings.ru/kingdom-come-deliverance-2/">Kingdom Come: Deliverance 2</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/genre/rpg/">РПГ</a></span>
                        <span class="item-meta">11 февраля 2025</span>
                    </div>
                    <div class="item">
                        <a href="https://metarankings.ru/assassins-creed-shadows/" title="Игра Assassin’s Creed Shadows"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/assassins-creed-shadows-boxart-cover-50x70.jpg" alt="Assassin’s Creed Shadows"></a>
                        <span class="item-name"><a href="https://metarankings.ru/assassins-creed-shadows/">Assassin’s Creed Shadows</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/">PC</a> / <a href="https://metarankings.ru/meta/games/ps5/">PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span>
                        <span class="item-meta"><a href="https://metarankings.ru/genre/ekshen/">Экшен</a></span>
                        <span class="item-meta">14 феврая 2025</span>
                    </div>
                    <a href="https://metarankings.ru/most-waiting-games/" class="allreviews">Самые ожидаемые игры</a>
                </div>
            </div>
        </div>
        <div class="sidebar rcol">
            <div class="widget last-reviews">
                <h3>Последние отзывы</h3>
                <div class="widget-body">
                    <ul>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/konklav-2024/">Конклав</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/gladiator-2/">Гладиатор 2</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/eretik-2024/">Еретик</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/lyubov-sovetskogo-soyuza-2024/">Любовь Советского Союза</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/vozvrashhenie-popugaya-keshi-2024/">Возвращение попугая Кеши</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/venom-3-poslednij-tanec-2024/">Веном 3: Последний танец</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/dzhoker-bezumie-na-dvoix/">Джокер: Безумие на двоих</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/xellboj-proklyatie-gorbuna-2024/">Хеллбой: Проклятие Горбуна</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/ekzorcizm-2024/">Экзорцизм</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/bitldzhus-bitldzhus/">Битлджус Битлджус</a></span>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/stalker-2/">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/dragon-age-the-veilguard/">Dragon Age: The Veilguard</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/call-of-duty-black-ops-6/">Call of Duty: Black Ops 6</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/game-silent-hill-2-remake/">Silent Hill 2</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/the-legend-of-zelda-echoes-of-wisdom/">The Legend of Zelda: Echoes of Wisdom</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/astro-bot/">Astro Bot</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/star-wars-outlaws/">Star Wars Outlaws</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/black-myth-wukong/">Black Myth: WuKong</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/senuas-saga-hellblade-2/">Senua’s Saga: Hellblade 2</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/stellar-blade/">Stellar Blade</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">




        <!-- Rating Mail.ru counter -->
        <!-- //Rating Mail.ru counter --><div class="copyright">
            &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
            <a rel="nofollow" href="/about/" data-title="О сайте" class="tooltip">О нас</a>
            <a rel="nofollow" href="/contact/" data-title="Форма обратной связи" class="tooltip">Связь</a>
            <a rel="nofollow" href="/polzovatelskoe-soglashenie/" data-title="Пользовательское соглашение" class="tooltip">Пользовательское соглашение</a>
            <a rel="nofollow" href="/politika-konfidencialnosti/" data-title="Политика конфиденциальности" class="tooltip">Конфиденциальность</a>
        </div>
        <div class="credits">
            <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
            <a href="https://vk.com/metarankings_ru" rel="nofollow noopener" target="_blank" title="VK"><span class="vko"></span></a>
            <a href="https://twitter.com/metarankings" rel="nofollow noopener" target="_blank" title="Twitter"><span class="tw"></span></a>
        </div>
    </div>
</div>
<div class="wbody" onclick="show('none')"></div>
<div class="window">
</div>
<div class="popup_block">
    <form id="loginForm" method="post">
        <div class="field">
            <label>Имя пользователя</label>
            <div class="input">
                <input type="text" name="log" value="" id="login" />
            </div>
        </div>
        <div class="field">
            <label>Пароль</label>
            <div class="input">
                <input type="password" name="pwd" value="" id="pass" />
            </div>
        </div>
        <div class="submit">
            <button name="submit" type="submit">Войти</button>
        </div>
    </form>
</div>
<div id="toTop" class="toTop">↑</div>