@page "/"
@page "/{PageSize:int}/{PageNumber:int}"

<Headerer />
<GameMenu />

@if (Games is null)
{
    <p>Loading...</p>
}
else
{
    foreach (var game in Games)
    {
        <BlazorClient.Components.PagesComponents.GameModel Game="@game" />
    }
    @if (PageNumber > 1)
    {
        <a href="/@(PageSize)/@(PageNumber-1)">Пред.</a>
    }
    @if (Games.Count() == PageSize)
    {
        <a href="/@(PageSize)/@(PageNumber+1)">След.</a>
    }
}