@page "/"

<BlazorClient.Components.Home.TopHomeNavigationComponent />

<div class="wrapper">
    <div class="pager">Лучшие в прошлом месяце </div>
    <div class="progress"></div>
    <BlazorClient.Components.Home.TheBestInPastMonthCycleSlideshowComponent />
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div id="loop" class="list clear">
                <BlazorClient.Components.Home.IndexMoviesComponent />

                <BlazorClient.Components.Home.IndexGamesComponent />

                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>

                </div>


                <BlazorClient.Components.Home.MoviesNewsComponent />

                <BlazorClient.Components.Home.GamesNewsComponent />

                <BlazorClient.Components.Home.CollectionsComponent />

                <BlazorClient.Components.Home.SpecialsComponent />

                <BlazorClient.Components.Home.SoonAtMoviesComponent />

                <BlazorClient.Components.Home.GamesReleasesDatesComponent />
            </div>
        </div>
        <BlazorClient.Components.Home.LastReviewsComponent />
    </div>
    <div class="footer">
        <BlazorClient.Components.Home.CopyrightComponent />
        <BlazorClient.Components.Home.CreditsComponent />
    </div>
</div>
<div class="wbody" onclick="show('none')"></div>
<div class="window">
</div>
<BlazorClient.Components.Home.LoginPopupComponent />
<div id="toTop" class="toTop">↑</div>