@page "/"
@using BlazorClient.Components.PagesComponents.Home
@using BlazorClient.Pages.Games.Games
@using BlazorClient.Pages.Movies.Movies
@using Domain.Reviews

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu Year="@DateTime.Today.Year" />

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin">Страница администратора</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <a href="/two-factor-enabled">Установить вход по 2FA?</a>
    </Authorized>
</AuthorizeView>

<div class="pager">Лучшие в прошлом месяце <span class="">Фильмы</span><span class="cycle-pager-active">Игры</span></div>

@if (Games is null || GamesReviews is null || Movies is null || MoviesReviews is null)
{
    <p>Loading...</p>
}
else
{
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <CarouselItemActiveComponent />
            <CarouselItemComponent />
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div id="loop" class="list clear">
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
                    <MoviesListComponent Movies="@Movies" />
                    <MoviesDropdownComponent />
                    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
                    <GamesListComponent Games="@Games" />
                    <div class="title-index">
                        <div class="dropdown-menu genre">
                            <span class="title">Год</span>
                            <ul>
                                <li><a href="/best-games-2025/">Игры 2025</a></li>
                                <li><a href="/best-games-2024/">Игры 2024</a></li>
                                <li><a href="/best-games-2023/">Игры 2023</a></li>
                                <li><a href="/best-games-2022/">Игры 2022</a></li>
                                <li><a href="/best-games-2021/">Игры 2021</a></li>
                                <li><a href="/best-games-2020/">Игры 2020</a></li>
                                <li><a href="/best-games-2019/">Игры 2019</a></li>
                                <li><a href="/best-games-2018/">Игры 2018</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>
                    <script>
                        window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: "yandex_rtb_R-A-201169-5",
                            blockId: "R-A-201169-5"
                          })
                        })</script>
                </div>
                <CollectionsComponent CollectionsItemComponents="CollectionsItemComponents" />
                <SoonAtCinemasComponent SoonAtCinemasItemComponents="SoonAtCinemasItemComponents" />
                <GamesReleaseDateComponent GamesReleaseDateItemComponents="@GamesReleaseDateItemComponents" />
            </div>
        </div>
        <Component />
    </div>
}
