@page "/platforms/{PlatformId:int}"
@using Domain

@if (Platform is null)
{
    <p>Loading...</p>
}
else
{
    <BlazorClient.Components.PagesComponents.Common.Headerer />

    <div id="loop" class="list clear">
        @foreach (var game in Platform.Games)
        {
            <GamePostElement Game="@game" />
        }
    </div>
}