<div class="filter-nav">
    <div class="filter-name">Лучшие</div>
    <div class="filter-menu">
        <a title="Лучшие игры для PC" href="/games/best-games?platformId=3">PC</a>
        <a title="Лучшие игры для PlayStation 5" href="/games/best-games?platformId=6">PlayStation 5</a>
        <a title="Лучшие игры для Xbox Series X" href="/games/best-games?platformId=7">Xbox Series X</a>
        <a title="Лучшие игры для PS4" href="/games/best-games?platformId=1">PlayStation 4</a>
        <a title="Лучшие игры для Xbox One" href="/games/best-games?platformId=5">Xbox One</a>
        <a title="Лучшие игры для Nintendo Switch" href="/games/best-games?platformId=4">Nintendo Switch</a>
        <a title="Лучшие игры для PS3" href="/games/best-games?platformId=2">PlayStation 3</a>
        <a title="Лучшие игры для Xbox 360" href="/games/best-games?platformId=8">Xbox 360</a>
        <a title="Лучшие игры для Nintendo Wii U" href="/games/best-games?platformId=9">Wii U</a>
        <a title="Лучшие игры для PS Vita" href="/games/best-games?platformId=14">PS Vita</a>
        <a title="Лучшие игры для Nintendo 3DS" href="/games/best-games?platformId=10">3DS</a>
    </div>
</div>