@using BlazorClient.Pages.Games.Developers

<div class="filter-nav">
    <div class="filter-name">Платформа</div>
    <div class="filter-menu">
        <a class="selected" href="/games/best-games?Year=@Year">Все</a>
        <a href="/games/best-games?Year=@Year&PlatformId=3">PC</a>
        <a href="/games/best-games?Year=@Year&PlatformId=6">PS5</a>
        <a href="/games/best-games?Year=@Year&PlatformId=7">Xbox Series X</a>
        <a href="/games/best-games?Year=@Year&PlatformId=1">PS4</a>
        <a href="/games/best-games?Year=@Year&PlatformId=5">Xbox One</a>
        <a href="/games/best-games?Year=@Year&PlatformId=4">Switch</a>
    </div>
</div>