@using BlazorClient.Pages.Games.Developers

<div class="filter-nav">
    <div class="filter-name">Жанр</div>
    <div class="filter-menu">
        <a class="selected" href="/games/best-games?Year=@Year">Все</a>
        <a href="/games/best-games?Year=@Year&GenreId=3">Экшены</a>
        <a href="/games/best-games?Year=@Year&GenreId=9">Шутеры</a>
        <a href="/games/best-games?Year=@Year&GenreId=4">RPG</a>
        <a href="/games/best-games?Year=@Year&GenreId=1">Приключения</a>
        <a href="/games/best-games?Year=@Year&GenreId=11">Гонки</a>
        <a href="/games/best-games?Year=@Year&GenreId=2">Хорроры</a>
        <a href="/games/best-games?Year=@Year&GenreId=10">Стратегии</a>
        <a href="/games/best-games?Year=@Year&GenreId=13">ММО</a>
        <a href="/games/best-games?Year=@Year&GenreId=6">Аркады</a>
        <a href="/games/best-games?Year=@Year&GenreId=7">Платформеры</a>
        <a href="/games/best-games?Year=@Year&GenreId=14">Спорт</a>
        <a href="/games/best-games?Year=@Year&GenreId=15">Файтинги</a>
        <a href="/games/best-games?Year=@Year&GenreId=16">Тактика</a>
        <a href="/games/best-games?Year=@Year&GenreId=17">Симуляторы</a>
        <a href="/games/best-games?Year=@Year&GenreId=8">Головоломки</a>
        <a href="/games/best-games?Year=@Year&GenreId=5">JRPG</a>
    </div>
</div>