<span onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});"><a href="https://metarankings.ru/best-movies/">Фильмы</a></span> 
<div class="movie-drop">
<a href="https://metarankings.ru/new-movies/">Новинки</a> 
<a href="https://metarankings.ru/coming-soon/">Скоро</a> 
<a href="https://metarankings.ru/most-waiting-films/">Ожидаемые</a> 
<a href="https://metarankings.ru/meta/movies/">Обзоры</a> 
<a href="https://metarankings.ru/best-movies/">Топ фильмов</a> 
<a href="https://metarankings.ru/best-movies-2024/">Фильмы 2024</a> 
<a href="https://metarankings.ru/best-boeviki/2024/">Боевики 2024</a> 
<a href="https://metarankings.ru/best-horror/2024/">Ужасы 2024</a> 
<a href="https://metarankings.ru/best-comedy/2024/">Комедии 2024</a> 
<a href="https://metarankings.ru/best-thrillers/2024/">Триллеры 2024</a> 
<a href="https://metarankings.ru/best-fantasy/2024/">Фантастика 2024</a> 
<a href="https://metarankings.ru/best-fentezi/2024/">Фэнтези 2024</a> 
<a href="https://metarankings.ru/best-dramy/2024/">Драмы 2024</a> 
<a href="https://metarankings.ru/best-melodramas/2024/">Мелодрамы 2024</a> 
<a href="https://metarankings.ru/best-cartoons/2024/">Мультфильмы 2024</a> 
<a href="https://metarankings.ru/best-serials/">Сериалы</a> 
</div>