<div class="game-menu">
    <div class="platform-menu">
        <ul>
            <li>
                <a class="bst" href="/games/best-games?Year=@(Year - 1)">Лучшие игры @(Year - 1)</a>
            </li>
            <li>
                <a class="bst" href="/games/best-games?Year=@Year">@Year</a>
            </li>
            <li>
                <a class="mnew" href="/games/new-games/">Новые игры</a>
            </li>
            <li>
                <a href="/release-date/">Дата выхода игр</a>
            </li>
            <li>
                <a href="/most-waiting-games/">Самые ожидаемые игры</a>
            </li>
        </ul>
    </div>
</div>