<div class="game-menu">
    <div class="platform-menu">
        <ul>
            <li>
                <a class="bst" href="https://metarankings.ru/best-games-2024/">Лучшие игры 2024</a>
            </li>
            <li>
                <a class="bst" href="https://metarankings.ru/best-games-2025/">2025</a>
            </li>
            <li>
                <a class="mnew" href="https://metarankings.ru/new-games/">Новые игры</a>
            </li>
            <li>
                <a href="https://metarankings.ru/release-date/">Дата выхода игр</a>
            </li>
            <li>
                <a href="https://metarankings.ru/most-waiting-games/">Самые ожидаемые игры</a>
            </li>
        </ul>
    </div>
</div>