<p>
    <span class="label">Жанр:</span>
    <nav class="nav">
        @for (int i = 0; i < Genres.Count() - 1; i++)
        {
            <a class="nav-link" href="/genres/@Genres.ElementAt(i).Id">@Genres.ElementAt(i).Name</a>
            <text>, </text>
        }
        <a class="nav-link" href="/genres/@Genres.ElementAt(Genres.Count() - 1).Id">@Genres.ElementAt(Genres.Count() - 1).Name</a>
    </nav>
</p>