<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href=""><span>Meta</span>Rankings</a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span@*onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});"*@ ><a href="/best-movies/">Фильмы</a></span>
                        <div class="movie-drop">
                            <a href="/new-movies/">Новинки</a>
                            <a href="/coming-soon/">Скоро</a>
                            <a href="/most-waiting-films/">Ожидаемые</a>
                            <a href="/meta/movies/">Обзоры</a>
                            <a href="/best-movies/">Топ фильмов</a>
                            <a href="/best-movies-2024/">Фильмы 2024</a>
                            <a href="/best-boeviki/">Боевики</a>
                            <a href="/best-horror/">Ужасы</a>
                            <a href="/best-comedy/">Комедии</a>
                            <a href="/best-thrillers/">Триллеры</a>
                            <a href="/best-fantasy/">Фантастика</a>
                            <a href="/best-fentezi/">Фэнтези</a>
                            <a href="/best-dramy/">Драмы</a>
                            <a href="/best-melodramas/">Мелодрамы</a>
                            <a href="/best-cartoons/">Мультфильмы</a>
                            <a href="/best-serials/">Сериалы</a>
                        </div>
                    </li>
                    <li class="active">
                        <span@* onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"*@>
                            <a href="/best-games/">Игры</a></span>
                        <div class="game-drop">
                            <a href="/new-games/">Новинки</a>
                            <a href="/release-date/">Дата выхода</a>
                            <a href="/most-waiting-games/">Ожидаемые</a>
                            <a href="/meta/games/">Обзоры</a>
                            <a href="/best-games/">Топ игр</a>
                            <a href="/best-games-2024/">Игры 2024</a>
                            <a href="/best-pc-games/">ПК</a>
                            <a href="/best-ps5-games/">PS5</a>
                            <a href="/best-ps4-games/">PS4</a>
                            <a href="/best-xbox-series-x-s-games/">Xbox Series X</a>
                            <a href="/best-xboxone-games/">Xbox One</a>
                            <a href="/best-switch-games/">Switch</a>
                            <a href="/top-action-games/">Лучшие экшены</a>
                            <a href="/top-shooters/">Лучшие шутеры</a>
                            <a href="/top-horrors/">Лучшие хорроры</a>
                            <a href="/top-igry-priklyucheniya/">Лучшие приключения</a>
                            <a href="/top-rpg-games/">Лучшие РПГ</a>
                            <a href="/best-strategii/">Лучшие стратегии</a>
                            <a href="/best-gonki/">Лучшие гонки</a>
                            <a href="/best-arkady/">Лучшие аркады</a>
                            <a href="/best-fajtingi/">Лучшие файтинги</a>
                            <a href="/best-mmo-games/">Лучшие MMO</a>
                        </div>
                    </li>
                    <li>
                        <a href="/meta/collections/">Подборки</a>
                    </li>
                    <li>
                        <a href="/user-reviews/">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div><div class="search_form">
                <form method="get" id="searchform" action="/search/">
                    <fieldset>
                        <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off">
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>