<div class="headerer">
    <div class="header-bottom">
        <div class="header clear nav-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href=""><span>Meta</span>Rankings</a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span @*onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});" *@><a href="/best-movies/">Фильмы</a></span>
                        <div class="movie-drop">
                            <a href="/new-movies/">Новинки</a>
                            <a href="/coming-soon/">Скоро</a>
                            <a href="/most-waiting-films/">Ожидаемые</a>
                            <a href="/meta/movies/">Обзоры</a>
                            <a href="/best-movies/">Топ фильмов</a>
                            <a href="/best-movies-2024/">Фильмы 2024</a>
                            <a href="/best-boeviki/">Боевики</a>
                            <a href="/best-horror/">Ужасы</a>
                            <a href="/best-comedy/">Комедии</a>
                            <a href="/best-thrillers/">Триллеры</a>
                            <a href="/best-fantasy/">Фантастика</a>
                            <a href="/best-fentezi/">Фэнтези</a>
                            <a href="/best-dramy/">Драмы</a>
                            <a href="/best-melodramas/">Мелодрамы</a>
                            <a href="/best-cartoons/">Мультфильмы</a>
                            <a href="/best-serials/">Сериалы</a>
                        </div>
                    </li>
                    <li class="active">
                        <span@* onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"*@>
                            <a href="/games/best-games/">Игры</a></span>
                            <div class="game-drop">
                                <a href="/games/games/new-games/">Новинки</a>
                                <a href="/games/release-date/">Дата выхода</a>
                                <a href="/games/most-waiting-games/">Ожидаемые</a>
                                <a href="/games/meta/games/">Обзоры</a>
                                <a href="/games/best-games/">Топ игр</a>
                                <a href="/games/best-games?Year=2024">Игры 2024</a>
                                <a href="/games/best-games?PlatformId=3">ПК</a>
                                <a href="/games/best-games?PlatformId=6">PS5</a>
                                <a href="/games/best-games?PlatformId=1">PS4</a>
                                <a href="/games/best-games?PlatformId=7">Xbox Series X</a>
                                <a href="/games/best-games?PlatformId=5">Xbox One</a>
                                <a href="/games/best-games?PlatformId=4">Switch</a>
                                <a href="/games/best-games?GenreId=3">Лучшие экшены</a>
                                <a href="/games/best-games?GenreId=9">Лучшие шутеры</a>
                                <a href="/games/best-games?GenreId=2">Лучшие хорроры</a>
                                <a href="/games/best-games?GenreId=1">Лучшие приключения</a>
                                <a href="/games/best-games?GenreId=4">Лучшие РПГ</a>
                                <a href="/games/best-games?GenreId=10">Лучшие стратегии</a>
                                <a href="/games/best-games?GenreId=11">Лучшие гонки</a>
                                <a href="/games/best-games?GenreId=6">Лучшие аркады</a>
                                <a href="/games/best-games?GenreId=15">Лучшие файтинги</a>
                                <a href="/games/best-games?GenreId=13">Лучшие MMO</a>
                            </div>
                    </li>
                    <li>
                        <a href="/meta/collections/">Подборки</a>
                    </li>
                    <li>
                        <a href="/user-reviews/">Отзывы</a>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li>Ты авторизован</li>
                        </Authorized>
                        <NotAuthorized>
                            <li><a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a></li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
            <div class="nav_login">
                <ul>
                    <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                </ul>
            </div><div class="search_form">
                <form method="get" id="searchform" action="/search/">
                    <fieldset>
                        <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off">
                        <button type="submit"></button>
                    </fieldset>
                </form>
                <div id="search_form-result"></div>
            </div>
        </div>
    </div>
</div>