<div class="movie-menu">
    <div class="platform-menu">
        <ul>
            <li>
                <a class="bst" href="/best-movies/2024/">Лучшие фильмы 2024</a>
            </li>
            <li>
                <a class="bst" href="/best-movies/2025/">2025</a>
            </li>
            <li>
                <a class="mnew" href="/new-movies/">Новые фильмы</a>
            </li>
            <li>
                <a href="/release-date/">Дата выхода фильмов</a>
            </li>
            <li>
                <a href="/most-waiting-movies/">Самые ожидаемые фильмы</a>
            </li>
        </ul>
    </div>
</div>