@page "/collections/{GameCollectionId:long}"

@if (GameCollection is null)
{
    <p>Loading...</p>
}

else
{
    <div id="content" class="lcol">
        <div class="news-text entry">
            <div class="specials post single clear">
                <div class="post-meta">
                    <div class="breadcrumbs news-meta">
                        <a href="https://metarankings.ru/meta/collections/">Подборки</a> → <a href="https://metarankings.ru/meta/collections/films-games/">Контент</a>
                    </div>
                    <h1><span>@GameCollection.Name</span></h1>
                </div>
                <div class="post-content">
                    <div class="news-img">
                        <img class="news-image" src="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry.jpg" alt="Самые сложные игры">
                    </div>
                    <p>Самые сложные игры всех жанров для PC и игровых консолей за последнее время, рейтинг которых составлялся по данным оценок пользователей и критиков. Топ динамически меняется, поэтому голосуйте, выставляйте свои оценки, оставляйте отзывы и делитесь ими с друзьями в социальных сетях.</p>
                </div>
                <section id="loop" class="list clear best" itemscope="" itemtype="https://schema.org/ItemList">

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/lies-of-p-overture/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/06/lies-of-p-overture-boxart-cover-100x140.jpg" alt="Lies of P: Overture"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/lies-of-p-overture/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2025/06/lies-of-p-overture-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2025">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/lies-of-p-overture/">Lies of P: Overture</a></div>
                            <div class="post-meta">7 июня 2025</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">7.5</div>
                                <div class="graph-body"><div style="width:75%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/demons-souls-ps5/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2021/12/demons-souls-ps5-boxart-cover-100x140.jpg" alt="Demon’s Souls (PS5)"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/demons-souls-ps5/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2021/12/demons-souls-ps5-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2020">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/demons-souls-ps5/">Demon’s Souls (PS5)</a></div>
                            <div class="post-meta">12 ноября 2020</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9</div>
                                <div class="graph-body"><div style="width:90%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/hell-is-us/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/09/hell-is-us-boxart-cover-100x140.jpg" alt="Hell is Us"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/hell-is-us/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2025/09/hell-is-us-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2025">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/hell-is-us/">Hell is Us</a></div>
                            <div class="post-meta">4 сентября 2025</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">7.9</div>
                                <div class="graph-body"><div style="width:79%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/bloodborne/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/bloodborne-box-art-cover-100x140.jpg" alt="Bloodborne"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/bloodborne/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/bloodborne-box-art-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2015">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/bloodborne/">Bloodborne</a></div>
                            <div class="post-meta">25 марта 2015</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9.3</div>
                                <div class="graph-body"><div style="width:93%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/elden-ring/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2021/12/elden-ring-100x140.jpg" alt="Elden Ring"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/elden-ring/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2021/12/elden-ring-100x140.jpg">
                            <meta itemprop="dateCreated" content="2022">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/elden-ring/">Elden Ring</a></div>
                            <div class="post-meta">25 февраля 2022</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9.1</div>
                                <div class="graph-body"><div style="width:91%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/returnal/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2021/12/returnal-boxart-cover-100x140.jpg" alt="Returnal"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/returnal/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2021/12/returnal-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2021">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/returnal/">Returnal</a></div>
                            <div class="post-meta">30 апреля 2021</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.3</div>
                                <div class="graph-body"><div style="width:83%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/dark-souls-iii/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Dark-Souls-III-boxart-cover-100x140.jpg" alt="Dark Souls 3"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/dark-souls-iii/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Dark-Souls-III-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2016">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/dark-souls-iii/">Dark Souls 3</a></div>
                            <div class="post-meta">12 апреля 2016</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9.1</div>
                                <div class="graph-body"><div style="width:91%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/star-wars-jedi-fallen-order/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/star-wars-jedi-fallen-order-box-art-cover-100x140.jpg" alt="Star Wars Jedi: Fallen Order"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/star-wars-jedi-fallen-order/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/star-wars-jedi-fallen-order-box-art-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2019">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/star-wars-jedi-fallen-order/">Star Wars Jedi: Fallen Order</a></div>
                            <div class="post-meta">15 ноября 2019</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8</div>
                                <div class="graph-body"><div style="width:80%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/sekiro-shadows-die-twice/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Sekiro-Shadows-Die-Twice-boxart-cover-100x140.jpg" alt="Sekiro: Shadows Die Twice"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/sekiro-shadows-die-twice/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Sekiro-Shadows-Die-Twice-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2019">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/sekiro-shadows-die-twice/">Sekiro: Shadows Die Twice</a></div>
                            <div class="post-meta">22 марта 2019</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9</div>
                                <div class="graph-body"><div style="width:90%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/nier-automata/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Nier-Automata-boxart-cover-100x140.jpg" alt="NieR Automata"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/nier-automata/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Nier-Automata-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2017">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/nier-automata/">NieR Automata</a></div>
                            <div class="post-meta">10 марта 2017</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.5</div>
                                <div class="graph-body"><div style="width:85%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/bloodborne-the-old-hunters/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Bloodborne-The-Old-Hunters-boxart-cover-100x140.jpg" alt="Bloodborne: The Old Hunters"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/bloodborne-the-old-hunters/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Bloodborne-The-Old-Hunters-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2015">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/bloodborne-the-old-hunters/">Bloodborne: The Old Hunters</a></div>
                            <div class="post-meta">24 ноября 2015</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9.1</div>
                                <div class="graph-body"><div style="width:91%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/demons-souls/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Demons-Souls-boxart-100x140.png" alt="Demon’s Souls"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/demons-souls/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Demons-Souls-boxart-100x140.png">
                            <meta itemprop="dateCreated" content="2010">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/demons-souls/">Demon’s Souls</a></div>
                            <div class="post-meta">25 июня 2010</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.8</div>
                                <div class="graph-body"><div style="width:88%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/bloodstained-ritual-of-the-night/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/bloodstained-ritual-of-the-night-boxart-cover-100x140.jpg" alt="Bloodstained: Ritual of the Night"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/bloodstained-ritual-of-the-night/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/bloodstained-ritual-of-the-night-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2019">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/bloodstained-ritual-of-the-night/">Bloodstained: Ritual of the Night</a></div>
                            <div class="post-meta">18 июня 2019</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.4</div>
                                <div class="graph-body"><div style="width:84%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/nioh-2/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/nioh-2-box-art-cover-100x140.jpg" alt="Nioh 2"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/nioh-2/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/nioh-2-box-art-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2020">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/nioh-2/">Nioh 2</a></div>
                            <div class="post-meta">13 марта 2020</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.4</div>
                                <div class="graph-body"><div style="width:84%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/cuphead/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Cuphead-boxart-cover-100x140.png" alt="Cuphead"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/cuphead/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Cuphead-boxart-cover-100x140.png">
                            <meta itemprop="dateCreated" content="2017">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/cuphead/">Cuphead</a></div>
                            <div class="post-meta">29 сентября 2017</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9</div>
                                <div class="graph-body"><div style="width:90%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/nioh/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Nioh-boxart-cover-100x140.jpg" alt="Nioh"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/nioh/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Nioh-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2017">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/nioh/">Nioh</a></div>
                            <div class="post-meta">8 февраля 2017</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.7</div>
                                <div class="graph-body"><div style="width:87%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/remnant-from-the-ashes/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/remnant-from-the-ashes-box-art-cover-100x140.jpg" alt="Remnant: From the Ashes"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/remnant-from-the-ashes/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/remnant-from-the-ashes-box-art-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2019">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/remnant-from-the-ashes/">Remnant: From the Ashes</a></div>
                            <div class="post-meta">20 августа 2019</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-7">7</div>
                                <div class="graph-body"><div style="width:70%" class="rating-graph mark-7"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/darksiders-iii/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Darksiders-III-boxart-cover-100x140.png" alt="Darksiders III"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/darksiders-iii/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Darksiders-III-boxart-cover-100x140.png">
                            <meta itemprop="dateCreated" content="2018">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/darksiders-iii/">Darksiders III</a></div>
                            <div class="post-meta">27 ноября 2018</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-7">7.2</div>
                                <div class="graph-body"><div style="width:72%" class="rating-graph mark-7"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/dead-cells/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Dead-Cells-boxart-cover-100x140.jpg" alt="Dead Cells"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/dead-cells/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Dead-Cells-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2018">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/dead-cells/">Dead Cells</a></div>
                            <div class="post-meta">7 августа 2018</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.3</div>
                                <div class="graph-body"><div style="width:83%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/the-binding-of-isaac-rebirth/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/The-Binding-of-Isaac-Rebirth-cover-100x140.png" alt="The Binding of Isaac: Rebirth"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/the-binding-of-isaac-rebirth/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/The-Binding-of-Isaac-Rebirth-cover-100x140.png">
                            <meta itemprop="dateCreated" content="2014">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/the-binding-of-isaac-rebirth/">The Binding of Isaac: Rebirth</a></div>
                            <div class="post-meta">5 ноября 2014</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.8</div>
                                <div class="graph-body"><div style="width:88%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/crash-bandicoot-n-sane-trilogy/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Crash-Bandicoot-NSane-Trilogy-boxart-cover-100x140.png" alt="Crash Bandicoot N. Sane Trilogy"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/crash-bandicoot-n-sane-trilogy/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Crash-Bandicoot-NSane-Trilogy-boxart-cover-100x140.png">
                            <meta itemprop="dateCreated" content="2017">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/crash-bandicoot-n-sane-trilogy/">Crash Bandicoot N. Sane Trilogy</a></div>
                            <div class="post-meta">30 июня 2017</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.1</div>
                                <div class="graph-body"><div style="width:81%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/darkest-dungeon/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Darkest-Dungeon-boxart-cover-100x140.jpg" alt="Darkest Dungeon"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/darkest-dungeon/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Darkest-Dungeon-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2015">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/darkest-dungeon/">Darkest Dungeon</a></div>
                            <div class="post-meta">3 февраля 2015</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.1</div>
                                <div class="graph-body"><div style="width:81%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/wuchang-fallen-feathers/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2025/07/wuchang-fallen-feathers-cover-art-100x140.jpg" alt="Wuchang: Fallen Feathers"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/wuchang-fallen-feathers/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2025/07/wuchang-fallen-feathers-cover-art-100x140.jpg">
                            <meta itemprop="dateCreated" content="2025">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/wuchang-fallen-feathers/">Wuchang: Fallen Feathers</a></div>
                            <div class="post-meta">24 июля 2025</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-7">6.9</div>
                                <div class="graph-body"><div style="width:69%" class="rating-graph mark-7"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/dark-souls-remastered/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/Dark-Souls-Remastered-boxart-cover-100x140.jpg" alt="Dark Souls Remastered"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/dark-souls-remastered/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/Dark-Souls-Remastered-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2018">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/dark-souls-remastered/">Dark Souls Remastered</a></div>
                            <div class="post-meta">25 мая 2018</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8.4</div>
                                <div class="graph-body"><div style="width:84%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/dark-souls-iii-ashes-of-ariandel/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/DARK-SOULS-III-Ashes-of-Ariandel-boxart-cover-100x140.jpg" alt="DARK SOULS III: Ashes of Ariandel"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/dark-souls-iii-ashes-of-ariandel/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/DARK-SOULS-III-Ashes-of-Ariandel-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2016">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/dark-souls-iii-ashes-of-ariandel/">DARK SOULS III: Ashes of Ariandel</a></div>
                            <div class="post-meta">25 октября 2016</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">8</div>
                                <div class="graph-body"><div style="width:80%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/crash-bandicoot-4-its-about-time/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2020/09/crash-bandicoot-4-its-about-time-boxart-cover-100x140.jpg" alt="Crash Bandicoot 4: It’s About Time"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/crash-bandicoot-4-its-about-time/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2020/09/crash-bandicoot-4-its-about-time-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2020">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/crash-bandicoot-4-its-about-time/">Crash Bandicoot 4: It’s About Time</a></div>
                            <div class="post-meta">2 октября 2020</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.7</div>
                                <div class="graph-body"><div style="width:87%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/armored-core-vi-fires-of-rubicon/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2023/08/armored-core-vi-fires-of-rubicon-boxart-cover--100x140.jpg" alt="Armored Core VI Fires of Rubicon"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/armored-core-vi-fires-of-rubicon/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2023/08/armored-core-vi-fires-of-rubicon-boxart-cover--100x140.jpg">
                            <meta itemprop="dateCreated" content="2023">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/armored-core-vi-fires-of-rubicon/">Armored Core VI Fires of Rubicon</a></div>
                            <div class="post-meta">25 августа 2023</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">7.9</div>
                                <div class="graph-body"><div style="width:79%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/pathologic-2/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/pathologic-2-boxart-cover-100x140.jpg" alt="Pathologic 2"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/pathologic-2/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/pathologic-2-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2019">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/pathologic-2/">Pathologic 2</a></div>
                            <div class="post-meta">23 мая 2019</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-8">7.7</div>
                                <div class="graph-body"><div style="width:77%" class="rating-graph mark-8"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/cuphead-the-delicious-last-course/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2022/06/cuphead-the-delicious-last-course-cover-art-100x140.jpg" alt="Cuphead: The Delicious Last Course"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/cuphead-the-delicious-last-course/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2022/06/cuphead-the-delicious-last-course-cover-art-100x140.jpg">
                            <meta itemprop="dateCreated" content="2022">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/cuphead-the-delicious-last-course/">Cuphead: The Delicious Last Course</a></div>
                            <div class="post-meta">30 июня 2022</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">9</div>
                                <div class="graph-body"><div style="width:90%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>

                    <article class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="https://metarankings.ru/metroid-dread/" class="thumb"><img class="post-image" src="https://metarankings.ru/images/uploads/2021/09/metroid-dread-boxart-cover-100x140.jpg" alt="Metroid Dread"></a>
                        <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                            <link itemprop="url" href="https://metarankings.ru/metroid-dread/">
                            <link itemprop="image" href="https://metarankings.ru/images/uploads/2021/09/metroid-dread-boxart-cover-100x140.jpg">
                            <meta itemprop="dateCreated" content="2021">
                            <div itemprop="name"><a class="name" href="https://metarankings.ru/metroid-dread/">Metroid Dread</a></div>
                            <div class="post-meta">8 октября 2021</div>
                        </div>
                        <div class="ratings-graph">
                            <div class="graph">
                                <div class="small-score mark-9">8.7</div>
                                <div class="graph-body"><div style="width:87%" class="rating-graph mark-9"></div></div>
                            </div>
                        </div>
                    </article>
                </section>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-7 -->
                    <div id="yandex_rtb_R-A-201169-7"></div>
                    <script>
                        window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: 'yandex_rtb_R-A-201169-7',
                            blockId: 'R-A-201169-7'
                          })
                        })</script>
                </div>
            </div>
        </div>


    </div>
}