<app-headerer></app-headerer>
<div class="wrapper">
  <div class="pager">Лучшие в прошлом месяце </div>
  <div class="progress"></div>
  <app-best-in-this-month-slideshow></app-best-in-this-month-slideshow>
  <script>
    jQuery(document).ready(function ($) { var progress = $('.progress'), slideshow = $('.cycle-slideshow'); slideshow.on('cycle-initialized cycle-before', function (e, opts) { progress.stop(true).css('width', 0); slideshow.on('cycle-initialized cycle-after', function (e, opts) { progress.animate({ width: '100%' }, opts.timeout, 'linear'); }); }); });
  </script>
  <div id="container" class="clear">
    <div class="sidebar">

    </div>
    <div id="content" class="lcol">
      <div id="loop" class="list clear">
        <app-new-movies></app-new-movies>
        <app-new-games></app-new-games>
        <div class="ads-horizont hor-1">
          <!-- Yandex.RTB R-A-201169-5 -->
          <div id="yandex_rtb_R-A-201169-5"></div>
          <script>window.yaContextCb.push(() => {
              Ya.Context.AdvManager.render({
                renderTo: "yandex_rtb_R-A-201169-5",
                blockId: "R-A-201169-5"
              })
            })</script>
        </div>


        <app-movies-news></app-movies-news>

        <app-games-news></app-games-news>

        <app-collections></app-collections>

        <app-specials></app-specials>

        <app-soon-at-movies></app-soon-at-movies>

        <app-games-releases-dates></app-games-releases-dates>
      </div>
    </div>
    <app-latest-reviews></app-latest-reviews>
  </div>
  <app-footer></app-footer>
</div>
<div class="wbody" onclick="show('none')"></div>
<div class="window">
</div>
<div class="popup_block">
  <form
    action="https://metarankings.ru/login.php?redirect_to=https%3A%2F%2Fmetarankings.ru%2Fhorizon-zero-dawn-remastered%2F"
    id="loginForm" method="post">
    <div class="field">
      <label>Имя пользователя</label>
      <div class="input">
        <input type="text" name="log" value="" id="login" />
      </div>
    </div>
    <div class="field">
      <a rel="nofollow" href="https://metarankings.ru/login.php?action=lostpassword" id="forgot">Забыли?</a>
      <label>Пароль</label>
      <div class="input">
        <input type="password" name="pwd" value="" id="pass" />
      </div>
    </div>
    <div class="submit">
      <button name="submit" type="submit">Войти</button>
      <div class="registr"><a rel="nofollow" href="https://metarankings.ru/login.php?action=register">Регистрация</a>
      </div>
    </div>
  </form>
</div>
<div id="toTop" class="toTop">↑</div>