@page "/admin/add-developer"

<AuthorizeView Policy="Admin">
    <Authorized>
        Добавь разраба здесь
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить разраба
    </NotAuthorized>
</AuthorizeView>
