@page "/admin"

<h1>You're an admin</h1>

<div class="form-group">
    <label for="adminEmail">Admin Email</label>
    <input type="email" class="form-control" @bind-value="@FutureAdminEmail" />
    <button class="btn btn-primary" type="submit" @onclick="@AssignToAdminAsync">Назначить админом</button>
</div>

<div class="form-group">
    <a class="link-dark" href="/admin/developers/list-developers">Разрабы</a>
    <a class="link-dark" href="/admin/publishers/list-publishers">Издатели</a>
    <a class="link-dark" href="/admin/platforms/list-platforms">Платформы</a>
    <a class="link-dark" href="/admin/localizations/list-localizations">Локализации</a>
    <a class="link-dark" href="/admin/genres/list-genres">Жанры</a>
</div>
