@page "/admin/list-developers"
@using Domain.Games

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin/add-developer">Добавить разраба</a>
        <div class="developersList">
            @foreach (Developer developer in Developers)
            {
                <div class="developer">
                    <h4>@developer.Name</h4>
                    @foreach (var game in developer.Games)
                    {
                        <div class="game">
                            <h5>@game.Name</h5>
                        </div>
                    }
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить разраба
    </NotAuthorized>
</AuthorizeView>
