<div class="news-item">
    <a class="my-nav-link" href="/games/details/alex"></a>
    <span class="news-title"><a class="my-nav-link" href="/games/details/alex">Самые сложные игры</a></span>
    <div class="rubrika"><a class="my-nav-link" href="/games/details/alex">Контент</a></div>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }
}
