<div class="news-item">
    <NavLink class="my-nav-link" href="/games/details/alex"></NavLink>
    <span class="news-title"><NavLink class="my-nav-link" href="/games/details/alex">Самые сложные игры</NavLink></span>
    <div class="rubrika"><NavLink class="my-nav-link" href="/games/details/alex">Контент</NavLink></div>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }
}
