@using System.Globalization
<div class="item">
    <NavLink class="my-nav-link" href="/games/details/alex">Игра @Name</NavLink>
    <span class="item-name"><NavLink class="my-nav-link" href="/games/details/alex">@Name</NavLink></span>
    <span class="item-meta"><NavLink class="my-nav-link" href="/games/details/alex">PS5</NavLink></span>
    <span class="item-meta"><NavLink class="my-nav-link" href="/games/details/alex">Хоррор</NavLink></span>
    <span class="item-meta">@ReleaseDate.ToString("dd MM yyyy", new CultureInfo("ru-RU"))</span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }
}
