@using System.Globalization
<div class="item">
    <a class="link-dark my-nav-link"href="/games/details/alex">Игра @Name</a>
    <span class="item-name"><a class="link-dark my-nav-link"href="/games/details/alex">@Name</a></span>
    <span class="item-meta"><a class="link-dark my-nav-link"href="/games/details/alex">PS5</a></span>
    <span class="item-meta"><a class="link-dark my-nav-link"href="/games/details/alex">Хоррор</a></span>
    <span class="item-meta">@ReleaseDate.ToString("dd MM yyyy", new CultureInfo("ru-RU"))</span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }
}
