<div class="ureview-text">
    <span class="title-reviews"><a class="link-dark my-nav-link"href="/games/details/alex">@LinkTitle</a></span>
</div>

@code {
    [Parameter]
    public string LinkHref { get; set; }

    [Parameter]
    public string LinkTitle { get; set; }
}
