<ul>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
    <li class="recent-reviews">
        <LatestReviewsComponentItem LinkHref="https://metarankings.ru/pyatyj-bitl-2024/" LinkTitle="Пятый битл" />
    </li>
</ul>

@code {

}
