@using Domain
<ul>
    @foreach (Link link in Links)
    {
        <li class="recent-reviews">
            <LatestReviewsComponentItem LinkHref="@link.Href" LinkTitle="@link.Title" />
        </li>
    }
</ul>

@code {
    [Parameter]
    [EditorRequired]
    public Link[] Links { get; set; }
}
