@using System.Globalization
<div class="row">
    <a class="link-dark my-nav-link"href="/games/details/alex">Фильм @Name</a>
</div>
<div class="row">
    <span class="item-name"><a class="link-dark my-nav-link"href="/games/details/alex">@Name</a></span>
</div>
<div class="row">
    <span class="item-meta"><a class="link-dark my-nav-link"href="/games/details/alex">Фэнтези</a></span>
</div>
<div class="row">
    <span class="item-meta">@OriginalName</span>
</div>
<div class="row">
    @ReleaseDate.ToString("dd MM yyyy", new CultureInfo("ru-RU"))
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string OriginalName { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }
}
