@page "/auth/login"

<EditForm Model="LoginModel" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="LoginModel.UserEmail" />
        <ValidationMessage For="@(() => LoginModel.UserEmail)" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="LoginModel.Password" />
        <ValidationMessage For="@(() => LoginModel.Password)" />
    </div>

    <div class="form-group">
        <label for="resetPasswordMessage">Forgot password?</label>
        <button type="button" class="btn btn-danger" @onclick="SendResetPasswordMessageAsync">Reset password</button>
    </div>

    <div class="form-group">
        <p>Are you not registered? <a class="link-opacity-10" href="/auth/register">Register</a></p>
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
</EditForm>