@page "/auth/resetPassword"

@using Domain.Auth
<h3>Reset password</h3>

<EditForm Model="ResetPasswordModel" OnValidSubmit="ResetPasswordAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <p>Email</p>
        <InputText class="form-control" @bind-Value="ResetPasswordModel.Email" />
    </div>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Send message with reset password token</button>
    </div>
</EditForm>