@page "/two-factor-enabled"

<AuthorizeView>
    <Authorized>
        <h3>Входить по двухфакторке?</h3>

        <h3>@(TwoFactorEnabled ? "2FA включена" : "2FA отключена")</h3>

        <InputCheckbox @bind-Value="TwoFactorEnabled" />
    </Authorized>
    <NotAuthorized>
        Вы не авторизованы для доступа к этой странице
    </NotAuthorized>
</AuthorizeView>
