@page "/admin/developers/remove-developer/{Id:long}"

<AuthorizeView Policy="Admin">
    <Authorized>
        @if (Developer is null)
        {
            <p>Загружается...</p>
        }
        else
        {
            <h3>Удалить @Developer.Name</h3>
            <p>Вы уверены, что хотете удалить этого разработчика?</p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы удалить разраба
    </NotAuthorized>
</AuthorizeView>