<div class="index-games">
    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
    <div class="item">
    <a href="https://metarankings.ru/horizon-zero-dawn-remastered/" title="Игра Horizon Zero Dawn Remastered"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/horizon-zero-dawn-remastered-boxart-cover-50x70.jpg" alt="Horizon Zero Dawn Remastered"></a>
    <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.2</span></div>
    <span class="item-name"><a href="https://metarankings.ru/horizon-zero-dawn-remastered/">Horizon Zero Dawn Remastered</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/horizon-zero-dawn-remastered/#reviews">Рецензии (2)</a> <a rel="nofollow" href="https://metarankings.ru/horizon-zero-dawn-remastered/#comments">Отзывы (0)</a></span>
    <span class="item-meta">31 октября 2024</span>
    <span class="item-description">Horizon Zero Dawn — это приключенческая ролевая игра, завоевавшая множество наград и признание критиков. В версии Remastered, знакомые игрокам дикие земли оживают с...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/dragon-age-the-veilguard/" title="Игра Dragon Age: The Veilguard"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/12/dragon-age-the-veilguard-boxart-cover-50x70.jpg" alt="Dragon Age: The Veilguard"></a>
    <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">6.7</span></div>
    <span class="item-name"><a href="https://metarankings.ru/dragon-age-the-veilguard/">Dragon Age: The Veilguard</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/dragon-age-the-veilguard/#reviews">Рецензии (6)</a> <a rel="nofollow" href="https://metarankings.ru/dragon-age-the-veilguard/#comments">Отзывы (1)</a></span>
    <span class="item-meta">31 октября 2024</span>
    <span class="item-description">Ролевая экшен приключенческая игра Dragon Age: The Veilguard отправляет в мир Тедаса, яркую страну суровой дикой природы, коварных лабиринтов и сверкающих городов. Вас...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/call-of-duty-black-ops-6/" title="Игра Call of Duty: Black Ops 6"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/09/call-of-duty-black-ops-6-boxart-cover-50x70.jpg" alt="Call of Duty: Black Ops 6"></a>
    <div class="small-score mark-8"><span data-title="Рейтинг игры" class="tooltip">7.8</span></div>
    <span class="item-name"><a href="https://metarankings.ru/call-of-duty-black-ops-6/">Call of Duty: Black Ops 6</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps4/" >PS4</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-one/" >Xbox One</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/call-of-duty-black-ops-6/#reviews">Рецензии (5)</a> <a rel="nofollow" href="https://metarankings.ru/call-of-duty-black-ops-6/#comments">Отзывы (3)</a></span>
    <span class="item-meta">25 октября 2024</span>
    <span class="item-description">Call of Duty: Black Ops 6 &#8212; новая часть культовой серии шутеров. В игре вас ждут динамичные и разнообразные сражения, развернутые на масштабных...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/kong-survivor-instinct/" title="Игра Kong: Survivor Instinct"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/kong-survivor-instinct-boxart-cover-50x70.jpg" alt="Kong: Survivor Instinct"></a>
    <div class="small-score mark-0"><span data-title="Рейтинг игры" class="tooltip">0</span></div>
    <span class="item-name"><a href="https://metarankings.ru/kong-survivor-instinct/">Kong: Survivor Instinct</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps4/" >PS4</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/kong-survivor-instinct/#reviews">Рецензии (0)</a> <a rel="nofollow" href="https://metarankings.ru/kong-survivor-instinct/#comments">Отзывы (0)</a></span>
    <span class="item-meta">22 октября 2024</span>
    <span class="item-description">Kong: Survivor Instinct – это 2.5D экшен-приключение, которое сочетает в себе реалистичный платформер, динамичные бои и исследование в стиле &#171;метроидвания&#187;. Вас ждет захватывающий...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/unknown-9-awakening/" title="Игра Unknown 9: Awakening"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/unknown-9-awakening-cover-art-50x70.jpg" alt="Unknown 9: Awakening"></a>
    <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6.2</span></div>
    <span class="item-name"><a href="https://metarankings.ru/unknown-9-awakening/">Unknown 9: Awakening</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps4/" >PS4</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-one/" >Xbox One</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/unknown-9-awakening/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/unknown-9-awakening/#comments">Отзывы (0)</a></span>
    <span class="item-meta">18 октября 2024</span>
    <span class="item-description">В игре вас ждет история Харуны – квестор, обладающий уникальным даром: она может погружаться в Складку – загадочное измерение, тесно связанное с нашим...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/a-quiet-place-the-road-ahead/" title="Игра A Quiet Place: The Road Ahead"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/a-quiet-place-the-road-ahead-boxart-cover-50x70.jpg" alt="A Quiet Place: The Road Ahead"></a>
    <div class="small-score mark-6"><span data-title="Рейтинг игры" class="tooltip">6</span></div>
    <span class="item-name"><a href="https://metarankings.ru/a-quiet-place-the-road-ahead/">A Quiet Place: The Road Ahead</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/a-quiet-place-the-road-ahead/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/a-quiet-place-the-road-ahead/#comments">Отзывы (0)</a></span>
    <span class="item-meta">17 октября 2024</span>
    <span class="item-description">A Quiet Place: The Road Ahead &#8212; это напряженная однопользовательская игра в жанре хоррор, основанная на популярной кинофраншизе «Тихое место». Она рассказывает уникальную...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/neva/" title="Игра Neva"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/neva-cover-art-50x70.jpg" alt="Neva"></a>
    <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">6.7</span></div>
    <span class="item-name"><a href="https://metarankings.ru/neva/">Neva</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/neva/#reviews">Рецензии (2)</a> <a rel="nofollow" href="https://metarankings.ru/neva/#comments">Отзывы (0)</a></span>
    <span class="item-meta">15 октября 2024</span>
    <span class="item-description">Neva &#8212; это трогательное приключение, созданное теми же разработчиками, что подарили нам GRIS &#8212; игру, покорившую сердца критиков и игроков. В центре сюжета...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/metaphor-refantazio/" title="Игра Metaphor: ReFantazio"><img class="post-image" src="https://metarankings.ru/images/uploads/2023/06/metaphor-refantazio-boxart-cover-50x70.jpg" alt="Metaphor: ReFantazio"></a>
    <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">7.4</span></div>
    <span class="item-name"><a href="https://metarankings.ru/metaphor-refantazio/">Metaphor: ReFantazio</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/metaphor-refantazio/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/metaphor-refantazio/#comments">Отзывы (0)</a></span>
    <span class="item-meta">11 октября 2024</span>
    <span class="item-description">В игре Metaphor: ReFantazio вам нужно определить свою судьбу и преодолеть страх, попадая в фантастический мир, который не похож ни на один другой....</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/starfield-shattered-space/" title="Игра Starfield: Shattered Space"><img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/starfield-shattered-spacecover-art-50x70.jpg" alt="Starfield: Shattered Space"></a>
    <div class="small-score mark-5"><span data-title="Рейтинг игры" class="tooltip">4.6</span></div>
    <span class="item-name"><a href="https://metarankings.ru/starfield-shattered-space/">Starfield: Shattered Space</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/xbox-series-x/" >Xbox Series X</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/starfield-shattered-space/#reviews">Рецензии (1)</a> <a rel="nofollow" href="https://metarankings.ru/starfield-shattered-space/#comments">Отзывы (5)</a></span>
    <span class="item-meta">30 сентября 2024</span>
    <span class="item-description">Это масштабное сюжетное дополнение для Starfield, которое отправляет в город Дазра, расположенном на скрытой родной планете Дома Ва&#8217;Руун. Там бушует таинственная сила и...</span>
    </div>
    <div class="item">
    <a href="https://metarankings.ru/game-silent-hill-2-remake/" title="Игра Silent Hill 2"><img class="post-image" src="https://metarankings.ru/images/uploads/2023/03/silent-hill-2-remake-boxart-cover-50x70.jpg" alt="Silent Hill 2"></a>
    <div class="small-score mark-8"><span data-title="Рейтинг игры" class="tooltip">8.1</span></div>
    <span class="item-name"><a href="https://metarankings.ru/game-silent-hill-2-remake/">Silent Hill 2</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/games/pc/" >PC</a> / <a href="https://metarankings.ru/meta/games/ps5/" >PS5</a></span>
    <span class="item-meta"><a rel="nofollow" href="https://metarankings.ru/game-silent-hill-2-remake/#reviews">Рецензии (9)</a> <a rel="nofollow" href="https://metarankings.ru/game-silent-hill-2-remake/#comments">Отзывы (3)</a></span>
    <span class="item-meta">8 октября 2024</span>
    <span class="item-description">Культовая игра перезапускается, чтобы игроки могли снова пережить запоминающуюся историю оригинала, но уже с камерой за спиной главного героя. За разработку отвечает японский...</span>
    </div>
    <div class="title-index">
    <div class="dropdown-menu genre">
    <span class="title">Год</span>
    <ul>
    <li><a href="/best-games-2024/">Игры 2024</a></li>
    <li><a href="/best-games-2023/">Игры 2023</a></li>
    <li><a href="/best-games-2022/">Игры 2022</a></li>
    <li><a href="/best-games-2021/">Игры 2021</a></li>
    <li><a href="/best-games-2020/">Игры 2020</a></li>
    <li><a href="/best-games-2019/">Игры 2019</a></li>
    <li><a href="/best-games-2018/">Игры 2018</a></li>
    <li><a href="/best-games-2017/">Игры 2017</a></li>
    </ul>
    </div>
    </div>
    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
    </div>
    <div class="ads-horizont hor-1">
    <!-- Yandex.RTB R-A-201169-5 -->
    <div id="yandex_rtb_R-A-201169-5"></div>
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.render({
        renderTo: "yandex_rtb_R-A-201169-5",
        blockId: "R-A-201169-5"
      })
    })</script>
    </div>
    
    