<div class="index-games">
    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
    
    
    <div class="item" *ngFor="let game of newGames">
      <a href="{{game.href}}" title="Игра {{game.name}}"><img class="post-image" src="{{game.imageSrc}}" alt="{{game.name}}"></a>
    <div class="small-score mark-7"><span data-title="Рейтинг игры" class="tooltip">{{game.rating}}</span></div>
    <span class="item-name"><a href="{{game.href}}">{{game.name}}</a></span>
    <span class="item-meta"><a *ngFor="let platform of game.platforms" href="{{platform.href}}" >{{platform.name}} / </a> </span>
    <span class="item-meta"><a rel="nofollow" href="{{game.reviewsPage}}">Рецензии ({{game.reviewsCount}})</a> <a rel="nofollow" href="{{game.commentsPage}}"> Отзывы ({{game.commentsCount}})</a></span>
    <span class="item-meta">{{game.releaseDate.toDateString()}}</span>
    <span class="item-description">{{game.description}}</span>
    </div>
    <app-games-drop-down-main-page></app-games-drop-down-main-page>
    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
    </div>
    <div class="ads-horizont hor-1">
    <!-- Yandex.RTB R-A-201169-5 -->
    <div id="yandex_rtb_R-A-201169-5"></div>
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.render({
        renderTo: "yandex_rtb_R-A-201169-5",
        blockId: "R-A-201169-5"
      })
    })</script>
    </div>
    
    