<div class="index-movies">
    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>
    
    <div class="item" *ngFor="let movie of movies">
      <a href="{{movie.href}}" title="Фильм {{movie.name}}">
        <img class="post-image" src="{{movie.imageSrc}}" alt="{{movie.name}}">
      </a>
      <span class="item-name"><a href="{{movie.href}}">{{movie.name}}</a></span>
      <span class="item-meta"><a *ngFor="let genre of movie.genres" href="{{genre.href}}">{{genre.name}}</a></span>
      <span class="item-meta">{{movie.originalName}}</span>
      <span class="item-meta">{{movie.releaseDate}}</span>
    </div>
    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
  </div>