<div class="index-movies">
    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>
    <div class="item">
      <a href="https://metarankings.ru/bernard-missiya-mars-2024/" title="Фильм Бернард. Миссия: Марс"><img
          class="post-image"
          src="https://metarankings.ru/images/uploads/2024/09/bernard-missiya-mars-cover-art-50x70.jpg"
          alt="Бернард. Миссия: Марс"></a>
      <span class="item-name"><a href="https://metarankings.ru/bernard-missiya-mars-2024/">Бернард. Миссия:
          Марс</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
      <span class="item-meta">Bei ken xiong: huo xing ren wu</span>
      <span class="item-meta">7 ноября 2024</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/tajna-trex-pustyn-2024/" title="Фильм Тайна трех пустынь"><img
          class="post-image"
          src="https://metarankings.ru/images/uploads/2024/05/tajna-trex-pustyn-cover-art-50x70.jpg"
          alt="Тайна трех пустынь"></a>
      <span class="item-name"><a href="https://metarankings.ru/tajna-trex-pustyn-2024/">Тайна трех
          пустынь</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/cartoons/">Мультфильмы</a></span>
      <span class="item-meta">Тайна трех пустынь</span>
      <span class="item-meta">14 ноября 2024</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/za-slova-otvechayu-2024/" title="Фильм За слова отвечаю"><img
          class="post-image"
          src="https://metarankings.ru/images/uploads/2024/11/za-slova-otvechayu-cover-art-50x70.jpg"
          alt="За слова отвечаю"></a>
      <span class="item-name"><a href="https://metarankings.ru/za-slova-otvechayu-2024/">За слова
          отвечаю</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/comedy/">Комедии</a></span>
      <span class="item-meta">За слова отвечаю</span>
      <span class="item-meta">14 ноября 2024</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/rasxititeli-grobnic-zerkala-prizrakov-2024/"
        title="Фильм Расхитители гробниц. Зеркала призраков"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/11/rasxititeli-grobnic-zerkala-prizrakov-cover-art-50x70.jpg"
          alt="Расхитители гробниц. Зеркала призраков"></a>
      <span class="item-name"><a
          href="https://metarankings.ru/rasxititeli-grobnic-zerkala-prizrakov-2024/">Расхитители гробниц. Зеркала
          призраков</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a> / <a
          href="https://metarankings.ru/meta/movies/fantasy-movies/">Фэнтези</a></span>
      <span class="item-meta">Gui chui deng zhi nan hai gui xu</span>
      <span class="item-meta">14 ноября 2024</span>
    </div>
    <div class="item">
      <a href="https://metarankings.ru/gladiator-2/" title="Фильм Гладиатор 2"><img class="post-image"
          src="https://metarankings.ru/images/uploads/2024/11/gladiator-2-2cover-art-50x70.jpg"
          alt="Гладиатор 2"></a>
      <span class="item-name"><a href="https://metarankings.ru/gladiator-2/">Гладиатор 2</a></span>
      <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a> / <a
          href="https://metarankings.ru/meta/movies/dramy/">Драмы</a> / <a
          href="https://metarankings.ru/meta/movies/istoricheskie/">Исторические</a></span>
      <span class="item-meta">Gladiator 2</span>
      <span class="item-meta">20 ноября 2024</span>
    </div>
    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
  </div>