@page "/admin/publishers/add-publisher"

<AuthorizeView Policy="Admin">
    <Authorized>
        <InputText @bind-Value="AddPublisherModel.Name" />
        <input type="submit" value="Добавить" @onclick="AddPublisherAsync" />
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы добавить издателя
    </NotAuthorized>
</AuthorizeView>
