@page "/admin/publishers/list-publishers"
@using Domain.Games

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin/publishers/add-publisher">Добавить издателя</a>
        <div class="publishersList">
            @foreach (Publisher publisher in Publishers)
            {
                <div class="publisher">
                    <h4>@publisher.Name</h4>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить издателя
    </NotAuthorized>
</AuthorizeView>
