@page "/admin/publishers/remove-publisher/{Id:long}"

@if (Publisher is null)
{
    <p>Loading...</p>
}
else
{
    <h3>Remove @Publisher.Name</h3>
    <p>Are you sure you want to remove this publisher?</p>
}