<p>
    <span class="label">Платформы:</span> <span itemprop="gamePlatform">
        @foreach (var platform in Platforms)
        {
            <a href="https://metarankings.ru/meta/games/ps4/">@platform</a>
        }
    </span>
</p>