<p>
    <span class="label">Жанр:</span> <span itemprop="genre">
        @foreach (var genre in Genres)
        {
            <a href="https://metarankings.ru/genre/priklyuchenie/">@genre</a>
            <text>, </text>
        }
    </span>
</p>