li.comments-li-mark1 {
    background: #f7ebe9;
    padding: 15px;
    border-radius: 3px;
    margin: 15px 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: list-item;
    text-align: left;
    list-style: none;
    list-style-type: decimal;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
}

li.comments-li-mark9 {
    background: #edffe5;
    padding: 15px;
    border-radius: 3px;
    margin: 15px 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: list-item;
    text-align: left;
    list-style: none;
    list-style-type: decimal;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    color: #777;
    line-height: normal;
}