h1.detailsPage_gameName {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 10px;
    color: #333;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    position: relative;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.wrapper {
    width: 100%;
    width: 1000px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.clear {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.lcol {
    float: none;
    margin: 15px 0;
    width: 96%;
    padding: 0 2%;
    background: #fff;
    width: 670px;
    float: left;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.entry {
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.post-single-clear-game {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.post-meta {
    font-size: 14px;
    color: #888;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.post-content {
    padding: 0;
    margin: 20px 0;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.thumb {
    height: auto;
    height: 281px;
    width: 100%;
    height: auto;
    float: none;
    border: none;
    margin: 0 0 15px 0;
    width: 100px;
    height: auto;
    float: left;
    width: 200px;
    position: relative;
    margin: 0 15px 0 0;
    overflow: hidden;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

img.post-image {
    width: 100%;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-clip-margin: content-box;
    overflow: clip;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

span.twatch {
    font-size: 14px;
    color: #444;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    background: #f1f1f1;
    color: #111;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #111;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    font-weight: normal;
    margin: 0 0 10px;
    color: #333;
    font-weight: 500;
    font-size: 1.17em;
    font-weight: bold;
    background: linear-gradient(to bottom,rgba(67,67,66,0) 0,rgba(167, 167, 167, 0.7) 34%,rgba(138, 137, 137, 0.88) 100%);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px px 0;
    text-align: center;
    width: 100%;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
    content: '\e80d';
    padding: 0 8px;
}

span.p-twatch {
    font-size: 14px;
    color: #444;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    background: #f1f1f1;
    color: #111;
    padding: 5px 10px;
    border-radius: 50px;
    color: #111;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    font-weight: normal;
    margin: 0 0 10px;
    color: #333;
    font-weight: 500;
    font-size: 1.17em;
    font-weight: bold;
    background: linear-gradient(to bottom,rgba(67,67,66,0) 0,rgba(167, 167, 167, 0.7) 34%,rgba(138, 137, 137, 0.88) 100%);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.post-ratings {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.rating {
    font-size: 14px;
    padding: 0 0 4px 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.score {
    background: #efda65;
    color: #796700;
    color: #555;
    font-size: 32px;
    width: 70px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    font-size: 14px;
    padding: 0 0 4px 0;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}

div.your-score {
    padding: 0;
    margin-top: -2px;
    font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif,fontello;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    padding: 5px 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    color: #555;
    margin: 10px 0;
    font-size: 14px;
    line-height: normal;
    margin-left: 115px;
    line-height: 1.2;
    background: #fff;
    font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif',fontello;
    line-height: 1;
    text-align: left;
}