@page "/admin/platforms/remove-platform/{Id:long}"

@if (Platform is null)
{
    <p>Loading...</p>
}
else
{
    <h3>Remove @Platform.Name</h3>
    <p>Are you sure you want to remove this platform?</p>
}