@page "/admin/genres/list-genres"
@using Domain.Games

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin/genres/add-genre">Добавить жанр</a>
        <div class="genresList">
            @if (Genres is null)
            {
                <p>Загружается...</p>
            }
            else
            {
                foreach (Genre genre in Genres)
                {
                    <div class="localization">
                        <h4>@genre.Name</h4>
                        <a href="/admin/genres/remove-genre/@genre.Id">Remove genre</a>
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a>, чтобы добавить жанр
    </NotAuthorized>
</AuthorizeView>
