<span onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"><a href="https://metarankings.ru/best-games/">Игры</a></span> 
<div class="game-drop">
<a href="https://metarankings.ru/new-games/">Новинки</a> 
<a href="https://metarankings.ru/release-date/">Дата выхода</a> 
<a href="https://metarankings.ru/most-waiting-games/">Ожидаемые</a> 
<a href="https://metarankings.ru/meta/games/">Обзоры</a> 
<a href="https://metarankings.ru/best-games/">Топ игр</a> 
<a href="https://metarankings.ru/best-games-2024/">Игры 2024</a> 
<a href="https://metarankings.ru/best-pc-games/">ПК</a> 
<a href="https://metarankings.ru/best-ps4-games/">PS4</a> 
<a href="https://metarankings.ru/best-xboxone-games/">Xbox One</a> 
<a href="https://metarankings.ru/best-switch-games/">Switch</a> 
<a href="https://metarankings.ru/top-action-games/">Экшены</a> 
<a href="https://metarankings.ru/top-shooters/">Шутеры</a> 
<a href="https://metarankings.ru/top-horrors/">Хорроры</a> 
<a href="https://metarankings.ru/top-igry-priklyucheniya/">Приключения</a> 
<a href="https://metarankings.ru/top-rpg-games/">РПГ</a> 
<a href="https://metarankings.ru/best-strategii/">Стратегии</a> 
<a href="https://metarankings.ru/best-gonki/">Гонки</a> 
</div>