<div class="headerer">
    <div class="header-bottom">
      <div class="header clear nav-menu">
        <div class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="https://metarankings.ru"><span>Meta</span>Rankings</a>
        </div>
        <div class="nav">
          <app-title></app-title>
        </div>
        <div class="nav_login">
          <ul>
            <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
          </ul>
        </div>
        <div class="search_form">
          <form method="get" id="searchform" action="https://metarankings.ru/search/">
            <fieldset>
              <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off" />
              <button type="submit"></button>
            </fieldset>
          </form>
          <div id="search_form-result"></div>
        </div>
      </div>
    </div>
  </div>