.news-module {
    margin-top: 30px;
}

.news-module .news-item {
    width: 49.5%;
    display: inline-block;
}

.news-module .news-item:hover {
    opacity: 0.7;
}

.counter {
    color: #111;
    float: left;
    font-size: 14px;
    margin: 4px 4px 4px 0;
}

@media only screen and (max-width:620px) {
    .news-module .news-item {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width:480px) {
    .counter {
        color: #000;
        font-size: 12px;
    }
}
