@page "/games/best-games/"
@using BlazorClient.Components.PagesComponents.GamesList
@using BlazorClient.Pages.Games.Developers

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu />

<div class="content-title">
    <h1>Лучшие игры @Year года</h1>
</div>
<div class="post-info" style="max-height: 85px;">
    <p>Здесь собраны лучшие игры @Year года — Самые интересные и популярные всех жанров для всех актуальных игровых платформ (ПК, PlayStation, Xbox и Nintendo). Топ формировался по наибольшему рейтингу в десятибалльной рейтинговой системе по данным оценок критиков и проголосовавших пользователей. Пользуясь навигацией, вы можете выбрать конкретную интересующую вас игровую платформу. Выставляйте оценки, оставляйте отзывы и делитесь с друзьями в социальных сетях!</p>
    <p>Страница динамически меняется, выставляемые оценки влияют на положение проекта в топе, так что зайдя в следующий раз на эту страницу, вы можете видеть обновленные данные с актуальными оценками и сформированным списком топа.</p>
    <p>Страница динамически меняется, выставляемые оценки влияют на положение проекта в топе, так что зайдя в следующий раз на эту страницу, вы можете видеть обновленные данные с актуальными оценками и сформированным списком топа.</p>
    <span class="read-more">Читать полностью</span>
</div>
<div id="filter">
    <BestGamesOfYearsComponent />
    <BestGamesOfYearByPlatformsComponent Year="@Year.Value" />
</div>

@if (Games is null)
{
    <p>Загружается...</p>
}
else
{
    <div id="loop" class="list clear best">
        @for (int i = 0; i < Games.Count(); i++)
        {
            <BestGameOfYearListElement Game="Games.ElementAt(i)" Order="@(i + 1)" />
        }
    </div>
}