<div class="filter-nav">
    <div class="filter-name">Год</div>
    <div class="filter-menu">
        <a href="/games/best-games?Year=2025">2025</a>
        <a href="/games/best-games?Year=2024">2024</a>
        <a href="/games/best-games?Year=2023">2023</a>
        <a href="/games/best-games?Year=2022">2022</a>
        <a href="/games/best-games?Year=2021">2021</a>
        <a href="/games/best-games?Year=2020">2020</a>
        <a href="/games/best-games?Year=2019">2019</a>
        <a href="/games/best-games?Year=2018">2018</a>
    </div>
</div>