@page "/developers/{DeveloperId:int}"
@using Domain
@using System.Globalization

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu />

@if (Developer is null)
{
    <p>Загружается...</p>
}
else
{
    <div class="content-title">
        <h1>@Developer.Name</h1>
    </div>

    <div id="filter">
        <BlazorClient.Components.PagesComponents.DeveloperDetails.OtherNumberOfDevelopersComponent DevelopersGettingLimit="11" DevelopersGettingOffset="0" />

        <BestGamesOfYearsComponent />
        
        <BestGamesOfYearsComponent />

        <h2>Новые игры</h2>
    </div>

    <div id="loop" class="list clear">
        @foreach (var game in Developer.Games)
        {
            <BlazorClient.Components.PagesComponents.DeveloperDetails.DeveloperGameComponent Game="@game" />
        }
    </div>
}

