@page "/developers/{DeveloperId:int}"
@using BlazorClient.Components.PagesComponents.Common
@using BlazorClient.Components.PagesComponents.DeveloperDetails
@using BlazorClient.Pages.Games.Games
@using Domain
@using System.Globalization

<Headerer />
<GameMenu Year="@DateTime.Today.Year" />

@if (Developer is null)
{
    <p>Загружается...</p>
}
else
{
    <div class="content-title">
        <h1>@Developer.Name</h1>
    </div>

    <div id="filter">
        <OtherNumberOfDevelopersComponent DevelopersGettingLimit="11" DevelopersGettingOffset="0" />

        <BestGamesOfYearsComponent Year="@DateTime.Today.Year" />

        <h2>Новые игры</h2>
    </div>

    <div id="loop" class="list clear">
        @foreach (var game in Developer.Games)
        {
            <BlazorClient.Components.PagesComponents.DeveloperDetails.DeveloperGameComponent Game="@game" />
        }
    </div>
}

