<div class="specials-index">
    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
    <div class="news-item" *ngFor="let item of collection">
      <a href="{{item.href}}" title="{{item.title}}"><img class="news-thumb"
          src="{{item.imageSrc}}"
          alt="{{item.title}}"></a>
      <span class="news-title"><a href="{{item.href}}">{{item.title}}</a></span>
      <div class="rubrika"><a href="{{item.categoryLink}}">{{item.categoryTitle}}</a></div>
    </div>
  </div>