<div class="specials-index">
    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
    <div class="news-item">
      <a href="https://metarankings.ru/samye-slozhnye-igry/" title="Самые сложные игры"><img class="news-thumb"
          src="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
          alt="Самые сложные игры"></a>
      <span class="news-title"><a href="https://metarankings.ru/samye-slozhnye-igry/">Самые сложные
          игры</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/best-films-pro-zhenshhin/" title="Лучшие фильмы про женщин"><img
          class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/films-pro-zhenshhin-445x250.jpg"
          alt="Лучшие фильмы про женщин"></a>
      <span class="news-title"><a href="https://metarankings.ru/best-films-pro-zhenshhin/">Лучшие фильмы про
          женщин</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/" title="Фильмы про реальные события"><img
          class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/pro-realnye-sobytiya-445x250.jpg"
          alt="Фильмы про реальные события"></a>
      <span class="news-title"><a href="https://metarankings.ru/filmy-pro-realnye-sobytiya/">Фильмы про реальные
          события</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/" title="Лучшие фильмы про монстров"><img
          class="news-thumb" src="https://metarankings.ru/images/uploads/2023/06/filmy-pro-monstrov-445x250.jpg"
          alt="Лучшие фильмы про монстров"></a>
      <span class="news-title"><a href="https://metarankings.ru/luchshie-filmy-pro-monstrov/">Лучшие фильмы про
          монстров</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/samye-strashnye-igry/" title="Самые страшные игры"><img class="news-thumb"
          src="https://metarankings.ru/images/uploads/2023/06/strashnye-igry-445x250.jpg"
          alt="Самые страшные игры"></a>
      <span class="news-title"><a href="https://metarankings.ru/samye-strashnye-igry/">Самые страшные
          игры</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
    <div class="news-item">
      <a href="https://metarankings.ru/best-games-open-world/" title="Лучшие игры с открытым миром"><img
          class="news-thumb"
          src="https://metarankings.ru/images/uploads/2023/06/best-igry-s-otkrytym-mirom-445x250.jpg"
          alt="Лучшие игры с открытым миром"></a>
      <span class="news-title"><a href="https://metarankings.ru/best-games-open-world/">Лучшие игры с открытым
          миром</a></span>
      <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
    </div>
  </div>